/* ===== navigation ===== */
nav h1 {
  top: 1em;
  position: relative;
}

/* ===== filter results ===== */
.filter-options {
  text-align: center;
  padding: 1em 0;
  height: 100%;
}

/* ===== restaurant lists ===== */
#restaurants-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#restaurants-list .restaurant-img {
  min-height: 0;
}

#restaurants-list li h3 {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
}

#restaurants-list li {
  border: unset;
  padding: 30px 25px;
}

#restaurant-container, #reviews-container {
  width: 45vw;
}

#reviews-container h3 {
  color: #f58500;
  font-size: 18pt;
  font-weight: 300;
}

#restaurant-address-and-hours {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  padding: 20px 40px 30px;
}

/* ===== footer ===== */
.inside #footer {
  width: 100%;
  padding: 25px 0;
  position: relative;
}
