
/* ====================== Restaurant Filtering ====================== */

.filter-options {
    width: 100%;
    height: 50px;
    background-color: #3397DB;
    align-items: center;
}

.filter-options h2 {
    color: white;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1;
    margin: 0 20px;
}

.filter-options select {
    background-color: white;
    border: 1px solid #fff;
    font-family: Arial, sans-serif;
    font-size: 11pt;
    height: 35px;
    letter-spacing: 0;
    margin: 10px;
    padding: 0 10px;
    width: 200px;
}


/* ====================== Restaurant Listing ====================== */

#restaurants-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #f3f3f3;
    list-style: outside none none;
    /* margin: 0;
    padding: 30px 15px 60px;
    text-align: center; */
}

#restaurants-list li {
    background-color: #fff;
    border: 2px solid #ccc;
    font-family: Arial, sans-serif;
    margin: 15px;
    min-height: 380px;
    padding: 0 30px 25px;
    text-align: left;
    width: var(--restaurant-width);
}

#restaurants-list .restaurant-img {
    background-color: #ccc;
    display: block;
    margin: 0;
    max-width: 100%;
    min-height: 248px;
    min-width: 100%;
}

#restaurants-list li h1 {
    color: #f18200;
    font-family: Arial, sans-serif;
    font-size: 14pt;
    font-weight: 200;
    letter-spacing: 0;
    line-height: 1.3;
    margin: 20px 0 10px;
    text-transform: uppercase;
}

#restaurants-list p {
    margin: 0;
    font-size: 11pt;
}

#restaurants-list li a {
    background-color: orange;
    border-bottom: 3px solid #eee;
    color: #fff;
    display: inline-block;
    font-size: 10pt;
    margin: 15px 0 0;
    padding: 8px 30px 10px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}


/* ====================== Restaurant Details ====================== */

.inside header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.inside #map-container {
    background: blue none repeat scroll 0 0;
    height: 87%;
    position: fixed;
    right: 0;
    top: 80px;
    width: 50%;
}

.inside #map {
    background-color: #ccc;
    height: 100%;
    width: 100%;
}

.inside #footer {
    bottom: 0;
    position: absolute;
    width: 50%;
}

#restaurant-name {
    color: #f18200;
    font-family: Arial, sans-serif;
    font-size: 20pt;
    font-weight: 200;
    letter-spacing: 0;
    margin: 15px 0 30px;
    text-transform: uppercase;
    line-height: 1.1;
}

#restaurant-img {
    width: 90%;
}

#restaurant-address {
    font-size: 12pt;
    margin: 10px 0px;
}

#restaurant-cuisine {
    background-color: #333;
    color: #ddd;
    font-size: 12pt;
    font-weight: 300;
    letter-spacing: 10px;
    margin: 0 0 20px;
    padding: 2px 0;
    text-align: center;
    text-transform: uppercase;
    width: 90%;
}

#restaurant-container,
#reviews-container {
    border-bottom: 1px solid #d9d9d9;
    border-top: 1px solid #fff;
    padding: 140px 40px 30px;
    width: 50%;
}

#reviews-container {
    padding: 30px 40px 80px;
}

#reviews-container h2 {
    color: #f58500;
    font-size: 24pt;
    font-weight: 300;
    letter-spacing: -1px;
    padding-bottom: 1pt;
}

#reviews-list {
    margin: 0;
    padding: 0;
}

#reviews-list li {
    background-color: #fff;
    border: 2px solid #f3f3f3;
    display: block;
    list-style-type: none;
    margin: 0 0 30px;
    overflow: hidden;
    padding: 0 20px 20px;
    position: relative;
    width: 85%;
}

#reviews-list li p {
    margin: 0 0 10px;
}

#restaurant-hours td {
    color: #666;
}