@charset "utf-8";
/* CSS Document */
html {
  font-size: 62.5%;
}
*, *:before, *:after {
  box-sizing: border-box;
}

body {
	background-color: var(--white);
	margin: 0;
  position:relative;
  min-height: 100vh;
}

body,td,th,p{
	font-family: var(--font-family-primary);
	color: var(--dark-grey);
	line-height: 1.5;
}

ul, li {
	font-family: var(--font-family-primary);
	color: var(--dark-grey);
}

a {
	color: var(--orange);
	text-decoration: none;
}

a:hover, a:focus {
	color: var(--filter-color);
	text-decoration: none;
}

a img{
	border: none 0px #fff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-family-primary);
  margin: 0 0 20px;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

/* ====================== Landing Page ====================== */
#maincontent {
  background-color: var(--background-color);
  height: 100%;
}

#footer {
  background-color: #444;
  color: #aaa;
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  padding: 0 25px;
  text-align: center;
  text-transform: uppercase;
  min-width: 100%;
  height: 100px;
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 0 0 -100px 0;
}

#footer p {
  color: inherit;
  margin: 0;
}

#footer a {
  padding: 20px 0;
}

/* ====================== Navigation ====================== */
nav {
  width: 100%;
  height: 100px;
  background-color: var(--dark-blue);
  text-align: center;
}

nav h1 {
  margin: auto;
  max-width: 80%;
}
nav h1 a {
  color: var(--white);
  font-size: 2.2rem;
  font-weight: 200;
  letter-spacing: 0.8rem;
  text-transform: uppercase;
  transition: all 0.5s;
}

.accessibility-skip-link {
  position: absolute;
  outline: 0;
  bottom: 100%;
  top: -1;
}

#breadcrumb {
  padding: 10px 40px 16px;
  list-style: none;
  background-color: var(--white);
  font-size: 1.6rem;
  margin: 0;
  width: calc(50% - 80px);
}

ul#breadcrumb { /* Display list items side by side */
  min-width: 100%;
  box-shadow: 0 0 10px var(--create-shadow);
  display: flex;
  align-items: center;
  height: 50px;
  padding: 0 50px;
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: var(--black);
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
    padding: 15px;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}

/* ====================== Map ====================== */
.map {
  height: 400px;
  min-width: 100%;
  background-color: var(--background-color);
}

/* ====================== Restaurant Filtering ====================== */
.filter-options {
  height: 100px;
  background-color: var(--filter-color);
  align-items: center;
  align-content: center;
  display: grid;
  grid-template-columns: auto 1fr 1fr;
  grid-gap: 20px;
  padding: 0 50px;
}

.filter-options h2 {
  color: var(--white);
  width: 100%;
  font-size: 1.6rem;
  font-weight: normal;
  line-height: 1;
  margin: 0;
  text-transform: capitalize;
  letter-spacing: 0.2rem;
  text-align: center;
}

.filter-options select {
  background-color: var(--white);
  border: 1px solid var(--white);
  font-family: var(--font-family-primary);
  font-size: 1.6rem;
  height: 35px;
  letter-spacing: 0;
  padding: 0 10px;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  background-color: var(--restaurant-list-color);
  list-style: outside none none;
  margin: 0;
  padding: 30px 15px 60px;
  text-align: center;
  display: grid;
  flex-wrap: wrap;
  grid-gap: 25px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

#restaurants-list li {
  background-color: var(--white);
  /* border: 5px solid var(--dark-blue); */
  font-family: var(--font-family-primary);
  transition: all 0.6s;
  text-align: center;
}

#restaurants-list .restaurant-img {
  background-color: var(--restaurant-list-img-color);
  display: block;
  margin: 0;
  box-shadow: 0 2px 5px var(--create-shadow);
  max-width: 100%;
  min-width: 100%;
}

#restaurants-list li h1 {
  color: var(--orange);
  font-size: 1.6rem;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  font-family: var(--font-family-primary);
  margin: 20px 0 10px;
  /* margin-bottom: 0px; */
  text-transform: uppercase;
}

#restaurants-list p {
  margin: 0;
  font-size: 1.6rem;
}
#restaurants-list li a {
  background-color: var(--orange);
  color: var(--white);
  display: inline-block;
  font-size: 1.6rem;
  padding: 10px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
}

#restaurants-list .restaurant-info {
  display: grid;
  grid-gap: 10px;
  grid-template-rows: auto auto auto 1fr 48px;
  align-items: center;
  padding: 10px 20px;
  /* height: 250px; */
}

#restaurants-list li .favorite-btn button, #maincontent .favorite-btn button {
  max-width: 25px;
  max-height: 25px;
  /* position: absolute; */
  top: 4px;
  right: 20px;
  width: 25px;
  height: 25px;
  cursor: pointer;
  background-color: inherit;
  border: none;
  margin: 0;
  padding: 0;
  color: blue;
  font-size: 2px;
}

#maincontent .favorite-btn button {
  top: 20px;
}

/* ====================== Restaurant Details ====================== */
.inside header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.inside #map-container {
  background-color: var(--dark-blue);
  min-width: 100%;
  min-height: 100%;
  box-shadow: 5px 5px 10px var(--create-shadow);
}
.inside #map {
  background-color: var(--dark-grey);
  height: 100%;
  width: 100%;
}
.inside #footer {
  bottom: 0;
  position: absolute;
  width: 50%;
}

.inside #maincontent {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}

.inside #add-space-container {
  height: 150px;
}
/* =============== Restaurant Info =============== */
#restaurant-name {
  color: var(--orange);
  font-family: var(--font-family-primary);
  font-size: 2rem;
  font-weight: 200;
  letter-spacing: 0;
  margin: 15px 0 30px;
  text-transform: capitalize;
  box-shadow: var(--create-shadow);
  line-height: 1.1;
}

.restaurant-img {
	width: 90%;
}
#restaurant-address {
  font-size: 1.6rem;
  margin: 10px 0px;
}
#restaurant-cuisine {
  background-color: var(--filter-color);
  color: var(--white);
  font-size: 1.6rem;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: capitalize;
	width: 90%;
}

#restaurant-container {
  order: -1;
}

#restaurant-container, #reviews-container {
  border-bottom: 1px solid var(--mid-grey); 
  border-top: 1px solid var(--white);
  padding: 140px 40px 30px;
  /* padding: 60px; */
  max-width: 100%;
}

/* =============== Reviews =============== */
#reviews-container {
  padding: 30px 40px 80px;
}
#reviews-container h2 {
  color: #f58500;
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}
#reviews-list {
  margin: 0;
  padding: 0;
}
#reviews-list li {
  background-color: var(--white);
  border: 1px solid var(--orange);
  display: block;
  list-style-type: none;
  margin: 0 0 30px;
  padding: 20px;
  width: 95%;
}
#reviews-list li p {
  margin: 0 0 10px;
  font-size: 1.4rem;
}
#restaurant-hours td {
  color: var(--dark-grey);
}

#reviews-heading {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
}
#reviews-heading a {
  color: #333;
  text-decoration-line: underline;
  font-size: 14px;
}
/* ==================== HELPER CSS ==================== */
.flex-item-center {
  display: flex;
  justify-content: center;
  align-items: center;
}


/* ==================== Media Queries ==================== */
@media screen and (min-width: 650px) {
  nav h1 a {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 799px) {
  .inside #maincontent {
    grid-template-columns: 1fr;
    grid-template-rows: 250px auto auto;
  }

  #restaurant-container {
    order: 0;
  }

  #reviews-list li {
    width: 100%;
  }

  .inside #restaurant-img {
    min-width: 100%;
  }

  .inside #restaurant-cuisine {
    width: 100%;
  }
}


@media screen and (max-width: 1020px) {
  .filter-options {
    height: 150px;
    grid-gap: 10px;
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 1100px) {
  .inside #maincontent {
    grid-template-columns: 1fr 1fr;
    max-width: 1100px;
    margin: 0 auto; 
  }
}

@media screen and (min-width: 1250px) {
  #restaurants-list {
    width: 1250px;
    margin: 0 auto;
  }

  .filter-options {
    grid-template-columns: 1fr auto 400px 400px 1fr;
  }

  .filter-options h2 {
    grid-column: 2 / span 1;
  }
}
/* ==================== Global variables ==================== */
/* Use the :root pseudo class */
:root {
  --white: white;
  --black: black;
  --dark-blue: #251831;
  --blue: blue;
  --green: green;
  --red: red;
  --orange: orange; 
  --info-color:  #7acccb;
  --dark-grey: rgb(51, 51, 51);
  --background-color: #fdfdfd;
  --filter-color:  #3397DB;
  --mid-grey: #d9d9d9;
  --restaurant-list-color:  #f3f3f3;
  --restaurant-list-img-color:  #ccc;
  --create-shadow: rgba(0, 0, 0, .3);
  --font-family-primary: Arial, Helvetica, sans-serif;
}

/* The Modal (background) */
/* .modal {
  display: none; /* Hidden by default */
  /* position: fixed; /* Stay in place */
  /* z-index: 1; Sit on top */
  /* padding-top: 200px; Location of the box */
  /* left: 0; */
  /* top: 0; */
  /* width: 100%; Full width */
  /* height: 100%; Full height */
  /* overflow: auto; Enable scroll if needed */
  /* background-color: rgb(0,0,0); Fallback color */
  /* background-color: rgba(0,0,0,0.4); Black w/ opacity */
/* } */ 

/* Modal Content */
/* .modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */

/* @-webkit-keyframes animatetop {
  from {top:-800px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-800px; opacity:0}
  to {top:0; opacity:1}
} */

/* The Close Button */
/*
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}
}

#review-form {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  max-width: 800px;
  width: 100%;
  padding-bottom: 100px;
}

#review-form label span {
  display: block;
  font-size: 14px;
  margin-left: 10px;
  margin-right: 10px;
}

#review-form label input {
  width: calc(100% - 20px);
  box-sizing: border-box;
  font-size: 18px;
  padding: 5px;
  margin-left: 10px;
  margin-right: 10px;
}

#review-form label select {
  font-size: 18px;
  margin-left: 10px;
  margin-right: 10px;
}

#review-form label textarea {
  width: calc(100% - 20px);
  box-sizing: border-box;
  font-size: 18px;
  padding: 5px;
  margin-left: 10px;
  margin-right: 10px;
}

#review-form div {
  margin-bottom: 15px;
}

#review-form button {
  background-color: #a85900;
  border-bottom: 3px solid #eee;
  color: #f0f0f0;
  display: inline-block;
  font-size: 14px;
  margin: 15px 0 0;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  /* position: absolute; */
  /* bottom: 10px; */
  /* right: 10px; */
/* } 

button#add-review {
  background-color: var(--orange);
  color: var(--white);
  display: inline-block;
  font-size: 1.6rem;
  padding: 10px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
} */