@charset "utf-8";
/* CSS Document */

body,td,th,p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
	line-height: 1.5;
}
body {
	background-color: #fdfdfd;
	margin: 0;
	position:relative;
}
ul, li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
}
a {
	color: #ccc;
	text-decoration: none;
}
a:hover, a:focus {
	color: #ccc;
	text-decoration: none;
}
a img{
	border: none 0px #fff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
  display: grid;
}
#footer {
  background-color: #252831;
  color: #aaa;
  font-size: 8pt;
  letter-spacing: 1px;
  height: 28px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  padding: 20px 0 5px 0;
}
/* ====================== Navigation ====================== */
nav {
  width: 100%;
  height: 50px;
  background-color: #252831;
  text-align:center;
}
nav h1 {
  margin: auto;
  padding-top: 10px;
}
nav h1 a {
 
  color: #fff;
  font-size: 0.8em;
  font-weight: 200;
  letter-spacing: 5px;
  text-transform: uppercase;
}
#breadcrumb {
    padding: 10px 40px 16px;
    list-style: none;
    background-color: #eee;
    font-size: 17px;
    margin: 0;
    width: calc(50% - 80px);
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #252831;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}
/* ====================== Map ====================== */
#map {
  height: 400px;
  width: 100%;
  background-color: #ccc;
}
/* ====================== Restaurant Filtering ====================== */
.filter-options {
  width: 100%;
  height: auto;
  background-color: #252831;
  align-items: center;
}
.filter-options h2 {
  color: white;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1;
  margin: 0 10px;
  padding-top: 10px;
}
.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 11pt;
  height: 35px;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
  width: 200px;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
  padding: 10px 0 0 10px;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
}
#restaurants-list li {
  background-color: #fff;
  border: 2px solid #ccc;
  font-family: Arial,sans-serif; 
  padding: 0 30px 25px;
  text-align: left;
  display: grid;
}
#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  max-width: 100%;
  min-width: 100%;
}
#restaurants-list li h1 {
  color: #252831;
  font-family: Arial,sans-serif;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
}
#restaurants-list p {
  margin: 0;
  font-size: 11pt;
}
#restaurants-list li a {
  background-color: #252831;
  border-bottom: 3px solid #eee;
  color: #fff;
  display: inline-block;
  font-size: 10pt;
  margin: 15px 0 0;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

/* ====================== Restaurant Details ====================== */
.inside #breadcrumb{
  width: 100%;
}
.inside header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.inside #map-container {
  padding-top: 50px;
  grid-column-start: 1;
  grid-row-start: 2;
  margin: 20px;

}
.inside #map {
  position: relative;
  background-color: #ccc;
}

.inside #maincontent{
  display: grid;
  grid-template-columns: 1fr;
}

.inside #restaurant-img{
  display: block;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px; 
  }

.inside #footer {
  bottom: 0;
  position: absolute;
}
#restaurant-name {
  color: #252831;
  font-family: Arial,sans-serif;
  font-size: 1.5em;
  font-weight: 200;
  letter-spacing: 0;
  margin: 15px 0 30px;
  text-transform: uppercase;
  line-height: 1.1;
}
#restaurant-img {
	width: 90%;
}
#restaurant-address {
  font-size: 1em;
  margin: 10px 0px;
}
#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 1.2em;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
	width: 100%;
}
#restaurant-container, #reviews-container {
  grid-column-start: 1;
  grid-row-start: 1;
  border-top: 1px solid #fff;
  margin-left: 10px;
}
#restaurant-container{
  padding-top: 100px;
}
#reviews-container {
  border-top: 1px solid #d9d9d9;
  margin: 10px 0 0 10px;
  grid-row-start: 3;
  margin-bottom:48px;
  grid-column-end: 3;
}
#reviews-container h2 {
  color: #252831;
  font-size: 2em;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;

}
#reviews-list {
  display: grid;
  margin: 0;
  padding: 0;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  grid-template-columns: 1fr;
}
#reviews-list li {
  background-color: #fff;
  border: 2px solid #f3f3f3;
  display: block;
  list-style-type: none;
  overflow: hidden;
  padding: 10px;
  position: relative;
}
#reviews-list li p {
  margin: 0 0 10px;
}
#restaurant-hours td {
  color: #666;
}

/*  media queries */

@media screen and (min-width : 500px){
  nav h1 a {
    font-size: 1em;
    letter-spacing: 10px;
  } 
  #restaurants-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 600px){
  #reviews-list {
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    grid-template-columns: 1fr 1fr; 
    }
  .filter-options h2{
    display: inline-flex;
    padding-top: 0;
  }
}

@media screen and (min-width : 700px){
  .inside #breadcrumb{
    width: calc(50% - 60px);
  }
  .inside #map{
    height: 100%;;
  }
  .inside #map-container {
    grid-row-start: 1;
    grid-column-start: 2;
  }
  #reviews-container {
    grid-row-start: 2;
  }
  .inside #maincontent{
    grid-template-columns: 1fr 1fr;
  }
  #footer {
    grid-row-end: 3;
  }
  #restaurants-list {
  grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width : 1100px){
  #restaurants-list {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  #reviews-list {
    grid-template-columns: 1fr 1fr 1fr; 
  }
}
