@media screen and (min-width: 1100px) {
  /* ====================== Restaurant Listing ====================== */

  #restaurants-list {
    padding-left: 20px;
    padding-right: 20px;
    width: calc(100% - 65px);
  }

  #restaurants-list li {
    margin: 18px 18px 18px 18px;
    width: calc(33.33% - 40px);
  }
}
