@media screen and (max-width: 400px) {
  .grid-100 {
    width: 100%;
  }
  .grid-50 {
    width: 100%;
  }
  .grid-33 {
    width: 100%;
  }
  .grid-66 {
    width: 100%;
  }
  .grid-75 {
    width: 100%;
  }
  .grid-25 {
    width: 100%;
  }
}
