@charset "utf-8";
/* CSS Document */

html{
  background-color: #f4f4f4;
}
body,td,th,p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
  line-height: 1.5;
}
body {
	background-color: #ffffff;
	margin: auto;
  position:relative;
  max-width: 1050px;
}
ul, li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
}
a {
	color: orange;
	text-decoration: none;
}
a:hover, a:focus {
	color: #3397db;
	text-decoration: none;
}
a img{
	border: none 0px #fff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 5px;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
#maincontent {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  max-width: 100%;
  min-height: 100%;
  margin: auto;
  align-items: center;
}
#footer {
  background-color: #444;
  color: #aaa;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}
/* ====================== Navigation ====================== */
header {
  width: 100%;
  height: 60px;
}

nav {
  width: 100%;
  height: 100%;
  background-color: #252831;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav h1 {
  margin: auto;
}
nav h1 a {
  color: #fff;
  font-size: 11pt;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
}
#breadcrumb {
    padding: 10px 40px 16px;
    list-style: none;
    background-color: #eee;
    font-size: 17px;
    margin: 0;
    width: calc(50% - 80px);
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}
/* ====================== Map ====================== */
#map-container {
  margin-top: 1%;
  height: 35vh;
  min-height: 150px;
  width: 100%;
  max-width: 600px;
}

#map {
  height: 100%;
  width: 100%;
  background-color: #ccc;
}
/* ====================== Restaurant Filtering ====================== */
.filter-options {
  width: 100%;
  max-width: 600px;
  height: 50px;
  background-color: #3397DB;
  display: flex;
  align-items: center;
}
.filter-options h2 {
  color: white;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1;
  margin: 0 20px;
}
.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 11pt;
  height: 30px;
  letter-spacing: 0;
  margin: auto;
  padding: 0 10px;
  width: 40vw;
  max-width: 170px;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  max-width: 600px;
  background-color: #ffffff;
  list-style: outside none none;
  list-style-type: none;
  margin: 0;
  text-align: center;
  padding: 0;
}
#restaurants-list li {
  display: inline-block;
  font-family: Arial,sans-serif;
  min-height: 380px;
  text-align: left;
  width: 100%;
  padding: 3% 0;
}
#restaurants-list .restaurant-img {
  display: block;
  margin: 0;
  max-width: 100%;
  min-height: 248px;
  min-width: 100%;
  margin-bottom: 2%;
}
#restaurants-list li h1 {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  text-transform: uppercase;
  margin-left: 5px;
}
#restaurants-list p {
  margin: 0;
  font-size: 11pt;
  margin-left: 5px;
}
#restaurants-list li a {
  background-color: orange;
  border-bottom: 3px solid #eee;
  color: #fff;
  display: inline-block;
  font-size: 10pt;
  letter-spacing: 2px;
  margin: 15px 0 0;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  margin-left: 5px;
}

/* ====================== Restaurant Details ====================== */
#restaurant-name {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 14pt;
  font-weight: 100;
  letter-spacing: 2px;
  margin: 35px 0 5px 10px;
  text-transform: uppercase;
  line-height: 1.1;
}
#restaurant-img {
  max-width: 600px;
  width: 100%;
}
#restaurant-address {
  font-size: 12pt;
  margin: 10px 0 10px 10px;
}
#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
}
#restaurant-container {
  max-width: 600px;
  width: 100%;
}

#reviews-container {
  width: calc(100%-20px);
  max-width: 580px;
  padding: 0 10px;
}
#reviews-container h2 {
  color: #f58500;
  font-size: 14pt;
  font-weight: 100;
  letter-spacing: 2px;
  line-height: 1.3;
  margin: 25px 0 15px;
  padding-top: 20px;
}
#reviews-list {
  list-style: outside none none;
  list-style-type: none;
  margin: 0;
  text-align: left;
  padding: 0;
}
#reviews-list li {
  background-color: #fff;
  display: block;
  margin: 0 0 30px;
  overflow: hidden;
  position: relative;
  border-bottom: 1px solid #d9d9d9;
}
#reviews-list li p {
  margin: 0 0 10px;
}
#restaurant-hours {
  margin: 0 0 10px 10px;
  table-layout: fixed;
}
#restaurant-hours td {
  display:table-cell;
  color: #666;
}
