@charset "utf-8";
/* CSS Document */

/*
body,td,th,p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
	line-height: 1.5;
}
*/

body {
  display: grid;
}

header {
  position: fixed;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
}

nav {
  display: inline-grid;
}

nav h1 {
  align-self: center;
}

.filter-options {
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
  border-bottom: solid 1px #326c94;
}

.filter-options h2 {
  grid-area: filter-options-title;
  margin: 10px 20px 0px 20px;
}

.filter-options select {
  max-width: 100%;
}

.grid-options #neighborhoods-select {
  grid-area: neighborhoods-select;
}

.grid-options #cuisines-select {
  grid-area: cuisines-select;
}

#restaurants-list {
  padding: 15px 15px 60px;
}

#restaurants-list li {
  margin-top: 15px;
  border: 1px solid #ccc;
  padding: 0px;
}

#restaurants-list .restaurant-infos {
  padding: 0 30px 25 px;
}

@media only screen and (min-width: 600px) {
  #restaurants-list {
    display: inline-grid;
    grid-template-columns: repeat(2, 1fr);
  }

  #restaurants-list li {
    margin: 15px;
  }
}

@media only screen and (min-width: 1280px) {
  #restaurants-list {
    display: inline-grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (min-width: 1920px) {
  #restaurants-list {
    display: inline-grid;
    grid-template-columns: repeat(4, 1fr);    
  }
}

.inside #maincontent {
  margin-top: 135px;
}

#restaurant-name {
  font-size: 20pt;
}

#restaurant-container, #reviews-container {
  padding: 15px;
}

#restaurant-container img, #restaurant-container #restaurant-cuisine {
  width: 100%;
}

#restaurant-container img, #reviews-list li {
  border-radius: 20px 0px 20px;
}

#reviews-list li:last-child {
  margin-bottom: 0;
}

#reviews-list li .review-name {
  font-size: 1.2em;
  color: #fff;
}

#reviews-list li .review-date {
  color: #ccc;
  text-shadow: 2px 2px #070707;
  text-align: right;
}

#reviews-list li .review-date, #reviews-list li .review-name {
  margin: 0;
  padding: 20px;
  background-color: #333;
}

#reviews-list li .review-date {
  grid-area: review-date;
}

#reviews-list li .review-name {
  grid-area: review-name;
}

#reviews-list li .review-rating {
  grid-area: review-rating;
}

#reviews-list li .review-comments {
  grid-area: review-comments;
}

#reviews-list li .review-rating span {
  color: #fff;
  background-color: #fda428;
  padding: 4px;
  border-radius: 2px;
  display: inline-block;
}

reviews-list li {
  display: inline-grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;
  grid-template-areas;
}

#reviews-list p {
  margin: 10px 20px;
}

#reviews-list .review-comments {
  margin-top: 0;
  color: #666;
}

#reviews-container {
  padding: 15px 15px 60px;
}

@media only screen and (min-width: 800px) {
  .inside #maincontent #map-container {
    grid-area: map-container;
  }

  .inside #maincontent #restaurant-container {
    grid-area: restaurant-container;
  }

  .inside #maincontent #reviews-container {
    grid-area: reviews-container;
  }

  .inside #maincontent {
    display: inline-grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto auto;
    grid-template-areas;

  }

  .reviews-list li {
    border-radius: 0px;
    border-bottom: rgb(0, 0, 0, 5);  
  }

  #reviews-list li: last-child {
    margin-bottom: 0;
  }

  #reviews-list li {
    width: 100%;
    box-sizing: border-box;
  }

  #reviews-list li .review-name,
  #reviews-list li .review-date,
  #reviews-list li .review-comments {
    background-color: transparent;;
    color: #333;
  }

  #reviews-list li {
    display: inline-grid;
    grid-template-areas;
  }

  #reviews-list li .review-rating {
    text-align: right;
  }

  #reviews-list li .review-date {
    text-shadow: none;
    color: #ccc;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  color: #333;
  line-height: 1.5;
}

body {
	background-color: #fdfdfd;
	margin: 0;
	position:relative;
}

ul, li {
	font-family: Arial, Helvetica, sans-serif;
  /*font-size: 10pt;
	color: #333;*/
}
a {
	color: orange;
	text-decoration: none;
}
a:hover, a:focus {
	color: #3397db;
	text-decoration: none;
}
a img{
	border: none 0px #fff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}
article, aside, canvas, details, figcaption, figure, footer, hgroup, menu, section {
	display: block;
}
#maincontent {
  background-color: #f3f3f3;
  /*min-height: 100%;*/
  margin-top: 80px;
}
#footer {
  background-color: #444;
  color: #aaa;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}
/* ====================== Navigation ====================== */
nav {
  width: 100%;
  height: 80px;
  background-color: #252831;
  text-align:center;
}
nav h1 {
  margin: auto;
}
nav h1 a {
  color: #fff;
  font-size: 12pt;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
}
#breadcrumb {
    padding: 15px 20px;
    list-style: none;
    background-color: #eee;
    font-size: 17px;
    margin: 0;
    width: calc(100% - 40px);
    border-bottom: solid 1px #dad9d9; 
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}
/* ====================== Map ====================== */
#map {
  height: 400px;
  width: 100%;
  background-color: #ccc;
}
/* ====================== Restaurant Filtering ====================== */
.filter-options {
  width: 100%;
  /*height: 50px;*/
  background-color: #3397DB;
  align-items: center;
}
.filter-options h2 {
  color: white;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1;
  /*margin: 0 20px;*/
}
.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 11pt;
  height: 35px;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
  /*width: 200px;*/
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
  /*padding: 30px 15px 60px;*/
  text-align: center;
}
#restaurants-list li {
  background-color: #fff;
  /*border: 2px solid #ccc;*/
  font-family: Arial,sans-serif;
  /*margin: 15px;*/
  min-height: 380px;
  /*padding: 0 30px 25px;*/
  text-align: left;
  /*width: 270px;*/
}
#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  max-width: 100%;
  min-height: 248px;
  min-width: 100%;
}
#restaurants-list li h1 {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
}
#restaurants-list p {
  margin: 0;
  font-size: 11pt;
}
#restaurants-list li a {
  background-color: orange;
  border-bottom: 3px solid #eee;
  color: #fff;
  display: inline-block;
  font-size: 10pt;
  margin: 15px 0 0;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

/* ====================== Restaurant Details ====================== */
/*.inside header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}*/

.inside #map-container {
  background: blue none repeat scroll 0 0;
  /*height: 87%;
  position: fixed;
  right: 0;
  top: 80px;
  width: 50%;*/
}
.inside #map {
  background-color: #ccc;
  /*height: 100%;*/
  width: 100%;
}

/*.inside #footer {
  bottom: 0;
  position: absolute;
  width: 50%;
}*/

#restaurant-name {
  color: #f18200;
  font-family: Arial,sans-serif;
  /*font-size: 20pt;*/
  font-weight: 200;
  letter-spacing: 0;
  margin: 15px 0 30px;
  text-transform: uppercase;
  line-height: 1.1;
}
#restaurant-img {
	width: 90%;
}
#restaurant-address {
  font-size: 12pt;
  margin: 10px 0px;
}
#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
	width: 90%;
}
#restaurant-container, #reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  /*padding: 140px 40px 30px;
  width: 50%;*/
}

/*#reviews-container {
  padding: 30px 40px 80px;
}*/

#reviews-container h2 {
  color: #f58500;
  font-size: 24pt;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}
#reviews-list {
  margin: 0;
  padding: 0;
}
#reviews-list li {
  background-color: #fff;
    border: 2px solid #f3f3f3;
/*  display: block;*/
  list-style-type: none;
  margin: 0 0 30px;
  overflow: hidden;
/*  padding: 0 20px 20px;
  position: relative;
  width: 85%;*/
}

/*#reviews-list li p {
  margin: 0 0 10px;
}*/

#restaurant-hours td {
  color: #666;
}
