/* ====================== Restaurant Details ====================== */
.inside .map-container {
  background: blue none repeat scroll 0 0;
  height: 87%;
  /* position: fixed; */
  right: 0;
  top: 80px;
  width: 100%;
}
.inside .map {
  background-color: #ccc;
  min-height: 400px;
  width: 100%;
}

.maincontent{
  padding-top: 1%;
}

.restaurant-container, .review{
  max-width: 1200px;
  margin: 0 auto 5% auto;
  width: 80%;
}

.restaurant-container {
  padding: 1% 5%;
  min-height: 380px;
  background-color: #fff;
  border-top-left-radius: 25px;
  border-bottom-right-radius: 25px;
  font-family: Arial,sans-serif;
  text-align: center;    
}
.reviews-container h2, .reviews-container h3{
  margin: 1%;
  width: 98%;
}

.reviews-container h2{
  text-align: center;
  color: #f58500;
  font-size: 24pt;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}

.restaurant-name {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 20pt;
  font-weight: 200;
  letter-spacing: 0;
  margin: 15px 0 30px;
  text-transform: uppercase;
  line-height: 1.1;
}

.restaurant-img, .restaurant-img > img {
    width: 100%;
}

.restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin-bottom: 20px;
  padding: 2px 0;
  text-transform: uppercase;
  width: 100%;
}  

.restaurant-address {
  font-size: 12pt;
  width: 100%;
}

#restaurant-hours{
  width: 100%;
}

.restaurant-day{
  text-align: left;
}

.restaurant-time{
  text-align: right;
}

.reviews-list {
  border-top-left-radius: 20px;
  font-family: Arial,sans-serif;
  min-height: 380px;
  text-align: center;
  margin: 0;
  width: 100%;
  padding: 0;
}

.reviews-container article {
  display: block;
  list-style-type: none;
  overflow: hidden;
  position: relative;
  margin-bottom: 5%;
  padding: 1% 5%;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  background-color: #fff;
}

.review-header{
  background-color: #333;
  width: 122%;
  margin: -2% -11%;
  border-top-left-radius: 20px;
  display: flex;
}

.review-header h2{
  color:white;
  width: 40%;
  text-align: start;
  margin-left: 15%;
}

.review-header h3{
  color: white;
  text-shadow: 3px -1px 8px black;
  margin-right: 15%;
  font-size: 12pt;
  width: 60%;
  line-height: 48px;
  text-align: end;
}

.reviews-container article p {
  padding: 1% 5%;
  text-align: justify;
}
#restaurant-hours td {
  color: #666;
}

.review-rating {
  text-align: left;
  background-color: #f18200;
  margin: 5% 5% 1% 5%;
  /* Display table to make the width fit the content */
  display: table;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  letter-spacing: 0.10em;
  text-transform: uppercase;
}

.reviews-container article p.review-rating{
  padding: 0.5em;
}
  