@charset "utf-8";

html,
body {
  display: flex;
  flex-direction: column;
}

body,
td,
th,
p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #333;
  line-height: 1.5;
}

body {
  width: 100%;
  background-color: #fdfdfd;
  margin: 0;
  position: relative;
}

ul,
li {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #333;
}

a {
  color: #f18200;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #f18200;
  text-decoration: none;
}

a img {
  border: none 0px #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}

article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  position: absolute;
}

.visually-hidden:focus {
  display: block;
  visibility: visible;
  clip: unset;
  height: auto;
  width: auto;
  position: relative;
}

#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

#footer {
  background-color: #444;
  color: #b1b1b1;
  font-size: 0.8em;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}
#footer a,
#footer a:focus,
#footer a:hover {
  color: #fff;
}

/* ====================== Navigation ====================== */
nav {
  width: 100%;
  background-color: #252831;
  text-align: center;
}

header nav {
  margin: auto;
  font-size: 20px;
  display: flex;
  height: 80px;
  align-items: center;
}

header nav h1 {
  margin: 0;
  line-height: 1em;
}

@media screen and (max-width: 450px) {
  header nav h1 {
    font-size: 1em;
    line-height: 1.2em;
  }
}

header nav a {
  color: #fff;
  font-weight: bold;
  letter-spacing: 5px;
  text-transform: uppercase;
  margin: 0 auto;
  transition: color 500ms ease-in-out;
}

#breadcrumb {
  display: flex;
  height: 50px;
  padding: 0 25px;
  list-style: none;
  background-color: #000;
  margin: 0;
  width: calc(50% - 50px);
  align-items: center;
}

@media screen and (max-width: 550px) {
  #breadcrumb {
    width: 100%;
  }
}

/* Display list items side by side */
#breadcrumb li {
  display: inline;
  color: #fff;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li + li:before {
  padding: 8px;
  color: #fff;
  content: '/\00a0';
}

/* Add a color to all links inside the list */
#breadcrumb li a {
  font-weight: bold;
  text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
  text-decoration: underline;
}
/* ====================== Map ====================== */
#map {
  height: 400px;
  width: 100%;
  background-color: #ccc;
  overflow: hidden;
}
#map a {
  color: #00709c;
}
/* ====================== Restaurant Filtering ====================== */
.filter-options {
  width: 100%;
  padding: 10px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #3397db;
  align-items: center;
  flex-wrap: wrap;
}

@media screen and (max-width: 700px) {
  .filter-options {
    flex-direction: column;
  }
}

.filter-options h2 {
  color: white;
  font-size: 1.2em;
  font-weight: bold;
  line-height: 1;
  margin: 0 20px;
}
.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial, sans-serif;
  font-size: 11pt;
  height: 35px;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
  width: 200px;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  background-color: #fff;
  list-style: outside none none;
  margin: 0;
  padding: 30px 15px 60px;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
#restaurants-list li {
  background-color: #eee;
  padding: 15px;
  font-family: Arial, sans-serif;
  margin: 15px;
  text-align: left;
  width: 270px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  max-width: 100%;
  min-width: 100%;
}
#restaurants-list li .name-container {
  position: relative;
  top: -15px;
  transform: rotate(-5deg);
}
#restaurants-list li .stripe {
  position: absolute;
  top: 0;
  z-index: 1;
  width: 150%;
  height: 100%;
  left: -25%;
  background: #000;
}
#restaurants-list li h3 {
  position: relative;
  z-index: 10;
  color: #f18200;
  font-family: Arial, sans-serif;
  font-size: 1.1em;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 10px 0;
  text-transform: uppercase;
}
#restaurants-list p {
  margin: 0;
  font-size: 11pt;
}
#restaurants-list li a {
  background-color: #f18200;
  border-bottom: 3px solid #eee;
  color: #000;
  font-weight: bold;
  display: inline-block;
  font-size: 10pt;
  margin: 15px 0 0;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

/* ====================== Restaurant Details ====================== */
.inside header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.inside #maincontent {
  display: flex;
  flex-direction: column;
  margin-right: 50%;
  overflow-y: scroll;
  margin-top: 130px;
}

@media screen and (max-width: 550px) {
  .inside #maincontent {
    margin-right: 0;
  }
}

.inside #map-container {
  background: blue none repeat scroll 0 0;
  height: calc(100% - 80px);
  position: fixed;
  right: 0;
  top: 80px;
  width: 50%;
  overflow: hidden;
  z-index: 10;
}

@media screen and (max-width: 550px) {
  .inside #map-container {
    width: 100%;
    height: 80vh;
    position: unset;
  }
}

.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
}
.inside #footer {
  width: calc(50% - 50px);
}

@media screen and (max-width: 550px) {
  .inside #footer {
    width: calc(100% - 50px);
  }

  .inside #footer span,
  .inside #footer a {
    display: block;
  }
}

@media screen and (max-width: 450px) {
}

#restaurant-name {
  padding: 10px 0;
  text-align: center;
  background: #000;

  color: #f18200;
  font-size: 1.6em;
  font-weight: bold;
  letter-spacing: 0;
  margin: 5px 0;
  text-transform: uppercase;
  line-height: 1.1;
}

#restaurant-img {
  width: 100%;
}
@media screen and (max-width: 700px) {
  #restaurant-name {
    font-size: 1.4em;
  }
}
@media screen and (max-width: 450px) {
  #restaurant-address {
    text-align: center;
  }
}

#restaurant-address {
  font-size: 1em;
  font-weight: bold;
  margin: 10px 0px;
}
#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 5px 0;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}
#restaurant-container,
#reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  padding: 30px 20px 20px;
  position: relative;
}
#reviews-container {
  padding: 20px;
  position: relative;
}
#reviews-container h2 {
  color: #f18200;
  font-size: 24pt;
  font-weight: bold;
  letter-spacing: 0px;
  padding-bottom: 1pt;
  background: #000;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.6em;
}
#reviews-list {
  margin: 0;
  padding: 0;
}
#reviews-list li {
  background-color: #fff;
  display: block;
  list-style-type: none;
  margin: 10px 0;
  padding: 20px;
  overflow: hidden;
  position: relative;
}
#reviews-list li .date {
  font-style: italic;
}
#reviews-list li .rating {
  margin-bottom: 10px;
}
#reviews-list li .rating .checked {
  color: #f18200;
}
#reviews-list li h3 {
  font-weight: bold;
  font-size: 1.4em;
  margin: 0;
  padding: 0;
}
#reviews-list li p {
  margin: 0 0 10px;
}
#restaurant-hours {
  width: 100%;
  border-collapse: collapse;
}
#restaurant-hours caption {
  background: #000;
  color: #f18200;
  font-weight: bold;
  font-size: 1.2em;
  padding: 5px;
  text-transform: uppercase;
}
#restaurant-hours tr:nth-child(odd) {
  background: rgba(0, 0, 0, 0.1);
}
#restaurant-hours td {
  color: #666;
}
