/* ====================== Restaurant Details ====================== */
  .inside #map-container {
    background: blue none repeat scroll 0 0;
    height: 87%;
    /* position: fixed; */
    right: 0;
    top: 80px;
    width: 100%;
  }
  .inside #map {
    background-color: #ccc;
    min-height: 400px;
    width: 100%;
  }

  #restaurant-container {
    background-color: #fff;
    border-top-left-radius: 5%;
    border-bottom-right-radius: 5%;
    font-family: Arial,sans-serif;
    margin: 5%;
    min-height: 380px;
    padding: 5%;
    text-align: center;
    width: 80%;
  }

  #reviews-container h2{
    margin: 5%;
    width: 80%;
    text-align: center;
    color: #f58500;
    font-size: 24pt;
    font-weight: 300;
    letter-spacing: -1px;
    padding-bottom: 1pt;
  }

  #restaurant-name {
    color: #f18200;
    font-family: Arial,sans-serif;
    font-size: 20pt;
    font-weight: 200;
    letter-spacing: 0;
    margin: 15px 0 30px;
    text-transform: uppercase;
    line-height: 1.1;
  }

  #restaurant-img {
      width: 100%;
  }

  #restaurant-cuisine {
    background-color: #333;
    color: #ddd;
    font-size: 12pt;
    font-weight: 300;
    letter-spacing: 10px;
    margin: 0 0 20px;
    padding: 2px 0;
    text-transform: uppercase;
    width: 100%;
  }  

  #restaurant-address {
    font-size: 12pt;
    width: 100%;
  }

  #restaurant-hours{
    width: 100%;
  }

  .restaurant-day{
    text-align: left;
  }

  .restaurant-time{
    text-align: right;
  }

  #reviews-list {
    border-top-left-radius: 20px;
    border-top-left-radius: 20px;
    font-family: Arial,sans-serif;
    min-height: 380px;
    text-align: center;
    margin: 5%;
    width: 90%;
    padding: 0;
  }
  #reviews-list li {
    display: block;
    list-style-type: none;
    overflow: hidden;
    position: relative;
    width: 100%;
    margin: 0;
    margin-bottom: 5%;
    border-bottom-right-radius: 20px;
    background-color: #fff;
  }

  .review-header{
    background-color: #333;
    width: 100%;
    margin: 0;
    border-top-left-radius: 20px;
    display: flex;
  }

  #reviews-list h2{
    color:white;
    width: 40%;
    text-align: start;
  }

  #reviews-list h3{
    color: rgb(155, 155, 155);
    text-shadow: 3px -1px 8px black;
    margin: 5%;
    font-size: 12pt;
    width: 60%;
    line-height: 48px;
    text-align: end;
  }

  #reviews-list li p {
    padding: 5%;
    text-align: justify;
  }
  #restaurant-hours td {
    color: #666;
  }

  .review-rating {
    text-align: left;
    background-color: #ffa231;
    margin: 5%;
    max-width: 30%;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    letter-spacing: 0.15em;
    text-transform: uppercase;
}

#reviews-list li p.review-rating{
  padding: 0.5em;
}
  