@charset "utf-8";
/* CSS Document */

body, td, th, p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    color: #333;
    line-height: 1.5;
}

body {
    background-color: #fdfdfd;
    margin: 0;
    position: relative;
}

ul, li {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    color: #333;
}

a {
    color: orange;
    text-decoration: none;
}

    a:hover, a:focus {
        color: #3397db;
        text-decoration: none;
    }

    a img {
        border: none 0px #fff;
    }

h1, h2, h3, h4, h5, h6 {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 0 20px;
}


article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

#maincontent {
    display: flex;
    flex-direction: column;
    background-color: #f3f3f3;
    min-height: 100%;
}

#footer {
    background-color: #444;
    color: #aaa;
    font-size: 8pt;
    letter-spacing: 1px;
    padding: 25px;
    text-align: center;
    text-transform: uppercase;
}
/* ====================== Navigation ====================== */
nav {
    width: 100%;
    background-color: #252831;
    text-align: center;
}
    nav h1 {
        margin: auto;
        padding: 5%;
    }
        nav h1 a {
            color: #fff;
            font-size: 14pt;
            font-weight: 200;
            letter-spacing: 10px;
            text-transform: uppercase;
        }

#breadcrumb {
    padding: 10px 40px 16px;
    list-style: none;
    background-color: #eee;
    font-size: 17px;
    margin: 0;
    width: 50%;
}

    /* Display list items side by side */
    #breadcrumb li {
        display: inline;
    }

        /* Add a slash symbol (/) before/behind each list item */
        #breadcrumb li + li:before {
            padding: 8px;
            color: black;
            content: "/\00a0";
        }

        /* Add a color to all links inside the list */
        #breadcrumb li a {
            color: #0275d8;
            text-decoration: none;
        }

            /* Add a color on mouse-over */
            #breadcrumb li a:hover {
                color: #01447e;
                text-decoration: underline;
            }
/* ====================== Map ====================== */
#map {
    height: 400px;
    width: 100%;
    background-color: #ccc;
}
/* ====================== Restaurant Filtering ====================== */
.filter-label{
    visibility: hidden;
    width: 0%;
}

.filter-options {
    width: 100%;
    background-color: #3397DB;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

    .filter-options h2 {
        color: white;
        font-size: 1rem;
        font-weight: normal;
        line-height: 1;
        margin: 0 20px;
    }

    .filter-options select {
        background-color: white;
        border: 1px solid #fff;
        font-family: Arial,sans-serif;
        font-size: 11pt;
        height: 35px;
        letter-spacing: 0;
        margin: 10px;
        padding: 0 10px;
        width: 200px;
    }

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    background-color: #f3f3f3;
    list-style: outside none none;
    margin: 0;
    padding: 30px 15px 60px;
    text-align: center;
}

    #restaurants-list div {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-color: #fff;
        border: 2px solid #ccc;
        font-family: Arial,sans-serif;
        margin: 15px;
        padding: 0 0 25px;
        min-width: 200px;
        max-width: 300px;
    }

#restaurants-list .restaurant-img {
    margin: 0% 0% 0% 0%;
    width: 100%;
}

#restaurants-list div h2 {
    color: #f18200;
    font-family: Arial,sans-serif;
    font-size: 14pt;
    font-weight: 200;
    letter-spacing: 0;
    line-height: 1.3;
    margin: 20px 0 10px;
    text-transform: uppercase;
    text-align: center;
}

#restaurants-list p {
    margin: 0;
    font-size: 11pt;
    text-align: center;
}

#restaurants-list div button {
    background-color: orange;
    border-bottom: 3px solid #eee;
    color: #fff;
    display: inline-block;
    font-size: 10pt;
    margin: 10% 10% 0 10%;
    padding: 8px 30px 10px;
    text-align: center;
    text-transform: uppercase;
    width: 80%;
}

/* ====================== Restaurant Details ====================== */
.inside #maincontent {
    display: flex;
    flex-direction: column;
    background-color: #f3f3f3;
    min-height: 100%;
}

/*
.inside #map-container {
    background: blue;
    height: 30%;
    position:fixed;
    width: 50%;
    top: 20%;
    right: 0;
}
*/

.inside #map {
    background-color: #ccc;
    height: 100px;
    width: 100%;
}


#restaurant-name {
    color: #f18200;
    font-family: Arial,sans-serif;
    font-size: 20pt;
    font-weight: 200;
    letter-spacing: 0;
    text-transform: uppercase;
    line-height: 1.1;
    padding: 15%, 0%, 15%, 0%;
    text-align: center;
}

#restaurant-img {
    width: 100%;
    margin: 0%, 0%, 10%, 0%;
}

#restaurant-address {
    font-size: 12pt;
    margin: 10px 0px;
}

#restaurant-cuisine {
    background-color: #333;
    color: #ddd;
    font-size: 12pt;
    font-weight: 300;
    letter-spacing: 10px;
    margin: 0 0 20px;
    padding: 2px 0;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}

#restaurant-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid #d9d9d9;
    border-top: 1px solid #fff;
    padding: 5%, 0%, 0%, 0%;
    width: 100%;
}




#reviews-container {
    border-bottom: 1px solid #d9d9d9;
    border-top: 1px solid #fff;
    padding: 5%, 0%, 0%, 0%;
    width: 100%;
}

    #reviews-container h3 {
        color: #f58500;
        font-size: 24pt;
        font-weight: 300;
        letter-spacing: -1px;
        padding-bottom: 1pt;
        text-align: center;
        margin: 3% 0 0 0;
    }

#reviews-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
}

    #reviews-list li {
        background-color: #fff;
        border: 2px solid #f3f3f3;
        display: block;
        list-style-type: none;
        margin: 0;
        overflow: hidden;
        margin: 1%;
        padding: 3%;
        position: relative;
        width: 80%;
        min-height: 50%;
    }

        #reviews-list li p {
            margin: 0;
        }

#restaurant-hours td {
    color: #666;
}
