@charset "utf-8";
/* CSS Document */

html {
  font-size: 62.5%;
}

body,
td,
th,
p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  color: #333;
  line-height: 1.5;
}
body {
  background-color: #fdfdfd;
  margin: 0;
  position: relative;
}
ul,
li {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  color: #333;
}
a {
  color: orange;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #3397db;
  text-decoration: none;
}
a img {
  border: none 0px #fff;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 2rem;
}
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
#maincontent {
  background-color: #f3f3f3;
  min-height: 100vh;
}
#footer {
  background-color: #444;
  color: #aaa;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  padding: 2.5rem;
  text-align: center;
  text-transform: uppercase;
}
/* ====================== Navigation ====================== */
nav {
  width: 100%;
  height: 8rem;
  background-color: #252831;
  text-align: center;
}
nav h1 {
  margin: auto;
}
nav h1 a {
  color: #fff;
  font-size: 1.4rem;
  font-weight: 200;
  letter-spacing: 1rem;
  text-transform: uppercase;
}
#breadcrumb {
  padding: 1rem 4rem 1.6rem;
  list-style: none;
  background-color: #eee;
  font-size: 1.7rem;
  margin: 0;
  width: calc(50% - 8rem);
}

/* Display list items side by side */
#breadcrumb li {
  display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li + li:before {
  padding: 0.8rem;
  color: black;
  content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}
/* ====================== Map ====================== */
#map {
  height: 40rem;
  width: 100%;
  background-color: #ccc;
}
/* ====================== Restaurant Filtering ====================== */
.filter-options {
  width: 100%;
  height: 5rem;
  background-color: #3397db;
  align-items: center;
}
.filter-options h2 {
  color: white;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1;
  margin: 0 2rem;
}
.filter-options select {
  background-color: white;
  border: 0.1rem solid #fff;
  font-family: Arial, sans-serif;
  font-size: 1.1rem;
  height: 3.5rem;
  letter-spacing: 0;
  margin: 1rem;
  padding: 0 1rem;
  width: 20rem;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
  padding: 3rem 1.5rem 6rem;
  text-align: center;
}
#restaurants-list li {
  background-color: #fff;
  border: 0.2rem solid #ccc;
  font-family: Arial, sans-serif;
  margin: 1.5rem;
  min-height: 38rem;
  padding: 0 3rem 2.5rem;
  text-align: left;
  width: 27rem;
}
#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  max-width: 100%;
  min-height: 24.8rem;
  min-width: 100%;
}
#restaurants-list li h1 {
  color: #f18200;
  font-family: Arial, sans-serif;
  font-size: 1.4rem;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 2rem 0 1rem;
  text-transform: uppercase;
}
#restaurants-list p {
  margin: 0;
  font-size: 1.1rem;
}
#restaurants-list li a {
  background-color: orange;
  border-bottom: 0.3rem solid #eee;
  color: #fff;
  display: inline-block;
  font-size: 1rem;
  margin: 1.5rem 0 0;
  padding: 0.8rem 3rem 1rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

/* ====================== Restaurant Details ====================== */
.inside header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.inside #map-container {
  background: blue none repeat scroll 0 0;
  height: 87%;
  position: fixed;
  right: 0;
  top: 8rem;
  width: 50%;
}
.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
}
.inside #footer {
  bottom: 0;
  position: absolute;
  width: 50%;
}
#restaurant-name {
  color: #f18200;
  font-family: Arial, sans-serif;
  font-size: 2rem;
  font-weight: 200;
  letter-spacing: 0;
  margin: 1.5rem 0 3rem;
  text-transform: uppercase;
  line-height: 1.1;
}
#restaurant-img {
  width: 90%;
}
#restaurant-address {
  font-size: 1.2rem;
  margin: 1rem 0rem;
}
#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 1.2rem;
  font-weight: 300;
  letter-spacing: 1rem;
  margin: 0 0 2rem;
  padding: 0.2rem 0;
  text-align: center;
  text-transform: uppercase;
  width: 90%;
}
#restaurant-container,
#reviews-container {
  border-bottom: 0.1rem solid #d9d9d9;
  border-top: 0.1rem solid #fff;
  padding: 14rem 4rem 3rem;
  width: 50%;
}
#reviews-container {
  padding: 3rem 4rem 8rem;
}
#reviews-container h2 {
  color: #f58500;
  font-size: 2.4rem;
  font-weight: 300;
  letter-spacing: -0.1rem;
  padding-bottom: 0.1rem;
}
#reviews-list {
  margin: 0;
  padding: 0;
}
#reviews-list li {
  background-color: #fff;
  border: 0.2rem solid #f3f3f3;
  display: block;
  list-style-type: none;
  margin: 0 0 3rem;
  overflow: hidden;
  padding: 0 2rem 2rem;
  position: relative;
  width: 85%;
}
#reviews-list li p {
  margin: 0 0 1rem;
}
#restaurant-hours td {
  color: #666;
}
