@charset "utf-8";

/* CSS Document */

[hidden] {
  display: none;
}

img {
  vertical-align: middle;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
td,
th,
p {
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-color: #fdfdfd;
  margin: 0;
  position:relative;
}

ul,
li {
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
}

a {
	color: orange;
	text-decoration: none;
}

a:hover,
a:focus {
	color: #36a4ef;
	text-decoration: none;
}

a img {
	border: none 0px #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}

article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
}

#footer {
  background-color: #333;
  color: #aaa;
  font-size: .875rem;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}

#footer a {
  color: #36a4ef;
}

/* ====================== Navigation ====================== */

.navbar {
  background-color: #252831;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  text-align: center;
  width: 100%;
}

.navbar h1 {
  padding: 16px;
  margin: 0;
}

.navbar h1 a {
  color: #fff;
  font-size: 1.4rem;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
}

#breadcrumb {
  background-color: #eee;
  font-size: 1rem;
  list-style: none;
  margin: 0;
  padding: 16px;
  width: 100%;
}

/* Display list items side by side */
#breadcrumb li {
  display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li::before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
  color: #0070af;
  text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}

/* ====================== Map ====================== */

#map {
  background-color: #ccc;
  height: 400px;
  width: 100%;
}

.inside #map {
  margin-top: 137px;
}

/* ====================== Restaurant Filtering ====================== */

.filter-options {
  align-items: center;
  background-color: #007ac1;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14),
              0 1px 10px 0 rgba(0, 0, 0, 0.12),
              0 2px 4px -1px rgba(0, 0, 0, 0.2);
  height: 56px;
  padding: 0 8px;
  position: relative;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 4;
}

.filter-options h2 {
  color: white;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1;
  padding: 16px 16px 8px 16px;
  margin: 0;
}

.filter-options select {
  background-color: white;
  margin: 0 8px;
  padding: 0 8px;
  max-width: 110px;
  text-transform: none;
}

@media screen and (min-width: 360px) {
  .filter-options select {
    max-width: 200px;
  }
}

@media screen and (min-width: 480px) {
  .filter-options select {
    width: 200px;
  }
}

/* ====================== Restaurant Listing ====================== */

#restaurants-list {
  background-color: #f3f3f3;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  list-style: outside none none;
  margin: auto;
  max-width: 80rem;
  padding: 32px 8px 8px 8px;
  text-align: center;
  width: 100%;
}

#restaurants-list li {
  background-color: #fff;
  border: 2px solid #ccc;
  display: flex;
  flex-direction: column;
  font-family: Arial,sans-serif;
  margin: 8px;
  min-height: 380px;
  text-align: left;
  width: 100%;
}

@media screen and (min-width: 480px) {
  #restaurants-list li {
    width: calc(50% - 16px);
  }
}

@media screen and (min-width: 720px) {
  #restaurants-list li {
    width: calc(33.33333% - 16px);
  }
}

@media screen and (min-width: 1024px) {
  #restaurants-list li {
    width: calc(25% - 16px);
  }
}

#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  width: 100%;
  height: auto;
}

#restaurants-list li h3 {
  color: #d1481c;
  font-family: Arial,sans-serif;
  font-size: 1.125rem;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 16px;
  text-transform: uppercase;
}

#restaurants-list p {
  margin: 0 16px;
}

#restaurants-list li p:last-of-type {
  margin: 0 16px 8px 16px;
}

#restaurants-list li a {
  align-self: flex-start;
  background-color: #d1481c;
  color: #fff;
  display: inline-block;
  margin: auto 16px 16px 16px;
}

/* ====================== Restaurant Details ====================== */

.inside header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.inside #footer {
  width: 100%;
}

#restaurant-name {
  color: #d1481c;
  font-size: 1.6rem;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.1;
  text-transform: uppercase;
}

#restaurant-img {
	width: 100%;
}

#restaurant-address {
  font-size: 1rem;
  margin: 8px 0px;
}

#restaurant-address em {
  columns: #444;
  font-weight: 400;
}

#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 10px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
	width: 100%;
}

#restaurant-container,
#reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  padding: 16px;
  width: 100%;
}

#restaurant-schedule,
#reviews-container h2 {
  color: #d1481c;
  font-size: 1.6rem;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}

#reviews-list li {
  background-color: #fff;
  border: 2px solid #f3f3f3;
  display: block;
  list-style-type: none;
  overflow: hidden;
  margin-bottom: 16px;
  padding: 16px;
  position: relative;
  width: 100%;
}

#reviews-list li:last-of-type {
  margin-bottom: 0;
}

#restaurant-hours {
  padding: 8px 0;
  margin: auto;
  max-width: 560px;
  width: 100%;
}

@media screen and (min-width: 480px) {
  #restaurant-hours tr td:first-of-type {
    width: 40%;
  }
}

#restaurant-hours td,
#restaurant-hours th {
  color: #444;
  padding: 8px;
  text-align: left;
  vertical-align: top;
}

#restaurant-hours tr:nth-child(even) {
  background: rgba(0, 0, 0, 0.14);
}

#restaurant-hours thead tr:nth-child(odd) {
  background: transparent;
}

#restaurant-details {
  width: 100%;
}

#restaurant-details > * {
  max-width: 832px;
  margin: auto;
  display: block;
}

@media screen and (min-width: 1024px) {
  .inside #map-container {
    background: blue none repeat scroll 0 0;
    height: calc(100% - 80px);
    position: fixed;
    right: 0;
    top: 80px;
    width: 50%;
  }

  .inside #map {
    height: 100%;
    margin: 0;
  }

  #restaurant-container {
    margin-top: 137px;
  }

  #restaurant-details {
    width: 50%;
  }

  #restaurant-details,
  .inside #footer,
  #breadcrumb { 
    width: 50%;
  }
}

/* ====================== My Classes ====================== */

.button {
  border: none;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
              0 3px 1px -2px rgba(0, 0, 0, 0.2),
              0 1px 5px 0 rgba(0, 0, 0, 0.12);
  cursor: pointer;
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  height: 36px;
  line-height: 36px;
  margin: 0;
  min-width: 64px;
  outline: none;
  overflow: hidden;
  padding: 0 16px;
  text-decoration: none;
  text-transform: uppercase;  
  transition: .2s ease;
}

.button:active {
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14),
                0 1px 10px 0 rgba(0, 0, 0, 0.12),
                0 2px 4px -1px rgba(0, 0, 0, 0.2);
}

.button:focus:not(:active) {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.18),
              0 8px 16px rgba(0, 0, 0, 0.36);
}

.card {
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
              0 3px 1px -2px rgba(0, 0, 0, 0.2),
              0 1px 5px 0 rgba(0, 0, 0, 0.12);
  overflow: hidden;
  position: relative;
  z-index: 2;
}