@charset "utf-8";
/* CSS Document */

body,td,th,p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14pt;
  color: #333;
  line-height: 1.5;
}
body {
  background-color: #fdfdfd;
  margin: 0;
  position:relative;
}
ul, 
li {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14pt;
  color: #333;
}
a {
  color: #d40222;
  text-decoration: none
}
a:hover, 
a:focus {
  color: #FFB8B8!important;
  text-decoration: none;
}
a img {
  border: none 0px #fff;
}
h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}
article, 
aside, 
canvas, 
details, 
figcaption, 
figure, 
footer, 
header, 
hgroup, 
menu, 
nav, 
section {
  display: block;
}
figure {
  margin: 0;
}
#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
  width: 100%;
}
#footer {
  background-color: #242424;
  color: #B8B8B8;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}
#footer a {
  color: white;
}
#footer a:hover, 
#footer a:focus {
  text-decoration: underline;
}
/* ====================== Navigation ====================== */
nav {
  width: 100%;
  background-color: #252831;
  text-align:center;
  height: 7rem;
  max-height: 7rem;
}
nav h1 {
  margin: auto;
  padding: 30px 0;
}
nav h1 a {
  color: #fff;
  font-size: 16pt;
  font-weight: 100;
  letter-spacing: 10px;
  text-transform: uppercase;
}
#breadcrumb {
  padding: 20px;
  list-style: none;
  background-color: #eee;
  font-size: 17px;
  margin: 0;
  height: 2rem;
  max-height: 2rem;
}
/* Display list items side by side */
#breadcrumb li {
  display: inline;
}
/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}
/* Add a color to all links inside the list */
#breadcrumb li a {
  color: #d40222;
  text-decoration: none;
}
/* Add a color on mouse-over */
#breadcrumb li a:hover {
  color: #ff0000;
  text-decoration: underline;
}
/* ====================== Map ====================== */
#map {
  height: 40vh;
  width: 100%;
  background-color: #ccc;
}
/* ====================== Restaurant Filtering ====================== */
.filter-options {
  background-color: #333;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.filter-options h2 {
  color: white;
  font-size: 1.5rem;
  font-weight: normal;
  line-height: 1;
  margin: 0 20px;
  padding: 15px;
}
.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 13pt;
  height: 35px;
  letter-spacing: 0;
  margin: 15px;
  padding: 5px 10px!important;
  width: 220px;
}
.filter-options select option {
  font-size: 12pt;
}
/* Media queries for section */
@media screen and (max-width: 730px) {
  .filter-options h2 {
	margin: 0px auto;
  }
  .filter-options select {
	width: 80%;
	margin: 15px auto;
  }
  nav h1 {
	font-size: 16pt;
  }
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0 auto;
  padding: 30px 15px 60px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  width: 90%;
}
#restaurants-list li {
  border: 1px solid #ccc;
  border-radius: 20px 0 0 0;
  margin: 15px;
  min-height: 380px;
  width: 22%;
  background-color: #fff;
  max-width: 800px;
}
#restaurants-list .restaurant-summary {
  background-color: #fff;
  font-family: Arial,sans-serif;
  text-align: left;
  padding: 15px 20px;
}
#restaurants-list .restaurant-img,
#restaurants-list source,
#restaurants-list img {
  background-color: #ccc;
  border-radius: 20px 0 0 0;
  display: block;
  margin: 0;
  width: 100%;
}
#restaurants-list .restaurant-summary h1 {
  color: #d40222;
  font-family: Arial,sans-serif;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 20px;
  text-transform: uppercase;
}
#restaurants-list .restaurant-summary p {
  margin-bottom: 3px;
  font-size: 13pt;
}
#restaurants-list .restaurant-summary a {
  background-color: #d40222;
  border-bottom: 3px solid #eee;
  color: #ededed!important;
  display: block;
  font-size: 12pt;
  margin: 15px 0;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
#restaurants-list .restaurant-summary a:hover,
#restaurants-list .restaurant-summary a:focus {
  text-decoration: underline;
}
/* Media queries for section */
@media screen and (max-width: 1100px) {
  #restaurants-list li {
	width: 30%;
  }
}
@media screen and (max-width: 1000px) {
  #restaurants-list li {
	width: 42%;
  }
}
@media screen and (max-width: 600px) {
  #restaurants-list li {
	width: 90%;
  }
}
/* ====================== Restaurant Details ====================== */
.inside #maincontent {
  margin-top: calc(9rem + 37px);
}
.inside header:not(.review-title) {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.inside #map-container {
  background: blue none repeat scroll 0 0;
  height: 40vh;
}
.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
}
#restaurant-name {
  color: #d40222;
  font-family: Arial,sans-serif;
  font-size: 20pt;
  font-weight: 200;
  letter-spacing: 0;
  margin: 15px 0 30px;
  text-transform: uppercase;
  line-height: 1.1;
}
#restaurant-img,
#restaurant-img figure {
  width: 50%;
  border-radius: 20px 0 20px 0;
}
#restaurant-img picture,
#restaurant-img source,
#restaurant-img img {
  width: 100%;
  border-radius: 20px 0 20px 0;
}
#restaurant-address {
  font-size: 16pt;
  padding: 20px 0;
  width: 100%;
}
.inside figure {
  margin: 0 auto !important;
}
.inside figcaption {

  text-align: center;
  width: 100%;
}
#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 10px 0;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
  width: 100%;
}
#restaurant-container, 
#reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  padding: 40px 30px;
  width: 70%;
  margin: 0 auto;
  text-align: center;
}
#reviews-container {
  padding: 30px 40px 80px;
}
#reviews-container h2 {
  color: #d40222;
  font-size: 24pt;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}
#reviews-list {
  margin-bottom: 100px;
  padding: 0;
}
#reviews-list li {
  background-color: #fff;
  border: 2px solid #f3f3f3;
  display: block;
  list-style-type: none;
  margin: 15px auto;
  overflow: hidden;
  position: relative;
  width: 85%;
  border-radius: 20px 0 20px 0;
  text-align: left;
}
.review-title {
  background-color: #333;
  padding: 20px;
}
.review-title p {
  font-size: 16pt!important;
  width: 40%;
  margin: 0;
}
.review-title p:first-child {
  float: left;	
  font-weight: bold;
  color: white!important;
}
.review-title p:nth-child(2) {
  float: right;	
  color: #f3f3f3!important;
  text-align: right;
}
.review-title div {
  clear:both;
}
.review-content {
  padding: 0 25px;
  text-align: justify;
}
.review-rating {
  color: white;
  background-color: #d40222;
  padding: 3px 8px;
  display: inline-block;
  border-radius: 5px;
}
#restaurant-hours {
  width: 70%;
  background-color: white;
  padding: 10px;
  border-radius: 20px 0 20px 0;
  border: 1px solid #dcdcdc;
  margin: 2% auto;
  text-align: left;
  -webkit-box-shadow: 0px 7px 53px 0px rgba(0,0,0,0.52);
  -moz-box-shadow: 0px 7px 53px 0px rgba(0,0,0,0.52);
  box-shadow: 0px 7px 53px 0px rgba(0,0,0,0.52);
}
#restaurant-hours td:first-child {
  color: #d40222;
  padding: 10px;
}
.visually-hidden {
  position: absolute;
  left: -4000px;
  width: 0;
  height: 0;
}
.skip-anchor:focus,
.skip-anchor:hover {
  left: 0 !important;
  top: 2px;
  width:170px;
  height: 30px;
  z-index: 3000;
  background-color: black !important;
  padding:15px;
}
/* Media queries for section */
@media screen and (max-width: 650px) {
  #restaurant-container, 
  #reviews-container {
	width: 100%;
	padding: 3px;
  }
}
@media screen and (max-width: 1000px) {
  #restaurant-hours td {
	display: block;
  }
  #restaurant-img,
  #restaurant-img figure,
  #restaurant-hours, 
  #reviews-list li	{
	width: 95%;
  }
}
@media screen and (max-width: 500px) {
  .review-title p {
	width: 100%;
	text-align: left!important;
	float: none;
  }
}
