@charset "utf-8";
/* CSS Document */
:focus{
  -webkit-box-shadow: 0px 0px 48px -5px rgba(240,133,51,1);
-moz-box-shadow: 0px 0px 48px -5px rgba(240,133,51,1);
box-shadow: 0px 0px 48px -5px rgba(240,133,51,1);
outline: none;
}

body,td,th,p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
	line-height: 1.5;
}
body {
	background-color: #fdfdfd;
	margin: 0;
  position:relative;

}
ul, li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
}
a {
	color: orange;
	text-decoration: none;
}
a:hover, a:focus {
	color: #3397db;
	text-decoration: none;
}
a img{
	border: none 0px #fff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
  overflow: hidden;
}
#footer {
  background-color: #444;
  color: #b1b1b1;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}
/* ====================== Navigation ====================== */
nav {
  width: 100%;
  height: 80px;
  background-color: #252831;
  text-align:center;
}
nav h1 {
  margin: auto;
}
nav h1 a {
  color: #fff;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
}
#breadcrumb {
    padding: 10px 40px 16px;
    list-style: none;
    background-color: #eee;
    font-size: 17px;
    margin: 0;

    width: 100%;
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #006cc9;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}
/* ====================== Map ====================== */
#map {
  height: 400px;
  width: 100%;
  background-color: #ccc;
}
/* ====================== Restaurant Filtering ====================== */
#filtered-results{
  position: absolute;
  top:0px;
  left:-999999px;
}
.filter-options-section{
  background-color: #007dbb;
  overflow: hidden;
}
.filter-options {
  width: 220px;
  min-height: 50px;
  margin: 0 auto;
  align-items: center;
}
.filter-options h2 {
  color: white;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1;
  margin-top: 10px;
}
.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 11pt;
  height: 35px;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
  width: 200px;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  background-color: #f3f3f3;

  margin: 0;
  padding-bottom:2.5%;
  text-align: center;
  width: 100%;
  position: relative;
  overflow: hidden;
}


.restaurant-item {
  background-color: #fff;
  border: 2px solid #ccc;
  font-family: Arial,sans-serif;
  padding: 0 2% 25px;
  width: 90%;
  margin: 0 auto;
  margin-top:5%;
  min-height: 380px;
  max-width: 500px;
  text-align: left;
  float: none;
  position: relative;
}
.restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  max-width: 100%;
   min-width: 100%;
}




.restaurant-item h1 {
  color: #b56000;
  font-family: Arial,sans-serif;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
}
#restaurants-list p {
  margin: 0;
  font-size: 11pt;
}
.restaurant-item a {
  background-color: #a56900 ;
  border-bottom: 3px solid #eee;
  color: #fff;
  display: inline-block;
  font-size: 10pt;
  margin: 15px 0 0;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.favorite{
  position: absolute;
  bottom:30px;
  right: 20px;
  cursor: pointer;
  width:40px;
}
.favorite-details{
  cursor: pointer;
  width:40px;
}



/* ====================== Restaurant Details ====================== */
.inside header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.inside #map-container {
  background: blue none repeat scroll 0 0;
  height: 250px;
  position: relative;
  margin-top:20px;

  width: 100%;
}
.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
}

#restaurant-name {
  color: #aa5a00;
  font-family: Arial,sans-serif;
  font-size: 20pt;
  font-weight: 200;
  letter-spacing: 0;
  margin: 15px 0 30px;
  text-transform: uppercase;
  line-height: 1.1;
}

#restaurant-address {
  font-size: 12pt;
  margin: 10px 0px;
}
#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
	width: 100%;
}
#restaurant-container, .reviews-container {
  width: 90%;
  margin: 0 auto;
}

#restaurant-container-wrapper,.reviews-container-wrapper{
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  padding-top: 0px;
  width: 100%;
}
#restaurant-container-wrapper{
  margin-top: 140px;
}
.reviews-container h2, .reviews-container h3{
  color: #aa5a00;
  font-size: 24pt;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}
#reviews-list {
  margin: 0;
  padding: 0;
}
#reviews-list li {
  background-color: #444;
  border-radius:30px;
  border:1px solid #444;
  display: block;
  list-style-type: none;
  margin-bottom:20px;
  overflow: hidden;
  position: relative;
}
.review-inner p {
  margin: 0 0 10px;
}
.review-inner{
  background-color: #fff;
  padding:20px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

#reviews-form input,#reviews-form select,#reviews-form textarea{
  width: 90%;
padding: 5px;
}
#form-submit{
  max-width: 150px;
font-weight: bold;
font-size:1.1em;
padding:10px;
cursor: pointer;
margin: 0 auto;
display: inline-block;
}
#reviews-form label{
  font-weight: bold;
}
.form-spacer{
  width: 100%;
  height: 15px;
}


#restaurant-hours td {
  color: #666;
}
.review-rating{
  padding:5px 10px;
  background-color: #a56900;
  display: inline-block;
  color:#fff;
  font-weight: bold;
  border-radius:5px;
}
.review-reviewer{
  font-weight: bold;
  color:#fff;
  padding: 20px 20px 0px;
}
.review-date{
  color:#fff;
  padding: 0px 20px;
}

#offline{
  background-color: rgba(0,0,0,0.6);
  color:#fff;
  position: fixed;
  left:0px;
  bottom:0px;
  padding:10px;
  visibility: hidden;
  text-align: center;
  pointer-events: none;
}


@media (min-width: 768px) {
  .restaurant-item{
    width: 45%;
    margin-top: 1%;
    margin-left: 1.25%;
    padding: 0 1.25% 20px;
    float: left;
  }
  .filter-options {
    width: 480px;
  }
  .favorite{
    bottom:20px;
    width:50px;
  }
  .favorite-details{

    width:50px;
  }
}


@media (min-width: 992px) {
  .restaurant-item{
    width: 26%;
    margin-top: 1%;
    margin-left: 4%;
    padding: 0 0.8% 20px;
    float: left;
  }

  #restaurant-container-wrapper,.reviews-container-wrapper{
    width: 50%;
  }

  #breadcrumb {

    width: calc(50% - 80px);
  }
  .inside #footer {

    width: calc(50% - 50px);
  }
  .inside #map-container {
    height: calc(100% - 80px);
    margin-top:0px;
    position: fixed;
    right: 0;
    top: 80px;
    width: 50%;
    border-left:1px solid #d9d9d9;;
  }




}

@media (min-width: 2000px) {
  .inside #map-container {
    width:calc(100% - 1000px);
  }
  #restaurant-container-wrapper,#reviews-container-wrapper{
    width: 1000px;
  }

  #restaurants-list{
    max-width: 1920px;
    margin: 0 auto;
  }

}