@charset "utf-8";

/* Variables */

:root {
  --primary: #252831;
  --black: #333;
  --white: ;
  --bg-color: #fdfdfd;
}

/* CSS Document */

html {
  font-size: 62.5%; /* Set 1rem == 10px */
}

*, *:before, *:after {
  box-sizing: border-box;
}

/* Object Classes */

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Generic Styles */

body {
	background-color: var(--bg-color);
	margin: 0;
  position:relative;
  min-height: 100vh;
}

body,td,th,p {
	font-family: Arial, Helvetica, sans-serif;
	color: var(--black);
	line-height: 1.5;
}

ul, li {
	font-family: Arial, Helvetica, sans-serif;
	color: var(--black);
}

a {
	color: orange;
	text-decoration: none;
}

a:hover, a:focus {
	color: #3397db;
	text-decoration: none;
}

a img {
	border: none 0px #fff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}

article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

#maincontent {
  background-color: #f3f3f3;
  height: 100%;
}

#footer {
  min-width: 100%;
  height: 100px;
  padding: 0 25px;
  background-color: var(--primary);
  color: #aaa;
  font-size: 1.2rem;
  letter-spacing: .1rem;
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 0 0 -100px 0;
}

#footer p {
  color: inherit;
  margin: 0;
}

/* ====================== Navigation ====================== */

nav {
  width: 100%;
  height: 100px;
  background-color: var(--primary);
  text-align: center;
}

nav h1 {
  margin: auto;
  max-width: 75%;
}

nav h1 a {
  color: #fff;
  font-size: 2.2rem;
  font-weight: 200;
  letter-spacing: .8rem;
  text-transform: uppercase;
  transition: all .45s;
}

#breadcrumb {
  padding: 10px 40px 16px;
  list-style: none;
  background-color: #eee;
  font-size: 1.6rem;
  margin: 0;
  width: calc(50% - 80px);
}

.skip-link {
  position: absolute;
  bottom: 100%;
  outline: 0;
}

/* Display list items side by side */
#breadcrumb li {
  display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}

/* ====================== Map ====================== */

/* #results {
  min-height: 100%;
} */

#map {
  height: 400px;
  min-width: 100%;
  background-color: #ccc;
}

/* ====================== Restaurant Filtering ====================== */

.filter-options {
  width: 100%;
  height: 150px;
  background-color: var(--primary);
  flex-direction: column;
}

.filter-options h2 {
  color: white;
  font-size: 1.6rem;
  font-weight: normal;
  line-height: 1;
  margin: 0 20px;
  text-transform: uppercase;
  letter-spacing: .2rem;
}

.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 1.6rem;
  height: 35px;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
  width: 350px;
}

/* ====================== Restaurant Listing ====================== */

#restaurants-list {
  min-width: 100%;
  min-height: 100%;
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
  padding: 30px 15px 60px;
  text-align: center;
  flex-wrap: wrap;
}

#restaurants-list li {
  max-width: 250px;
  background-color: #fff;
  border: 2px solid var(--primary);
  font-family: Arial,sans-serif;
  margin: 25px;
  min-height: 380px;
  transition: all .4s;
}

/* #restaurants-list li:hover {
  transform: scale(1.02);
  box-shadow: 0 0 20px var(--black);
} */

#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  max-width: 100%;
  min-width: 100%;
}

#restaurants-list li h3 {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 1.6rem;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
}

#restaurants-list p {
  margin: 0;
  font-size: 1.6rem;
}

#restaurants-list li a {
  background-color: orange;
  border-bottom: 3px solid #eee;
  color: #fff;
  display: inline-block;
  font-size: 1.6rem;
  margin: 15px 0;
  padding: 10px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

/* ====================== Restaurant Details ====================== */

.inside header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.inside #map-container {
  background: blue none repeat scroll 0 0;
  height: 87%;
  position: fixed;
  right: 0;
  top: 80px;
  width: 50%;
}

.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
}

.inside #footer {
  bottom: 0;
  position: absolute;
  width: 50%;
}

#restaurant-name {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 2rem;
  font-weight: 200;
  letter-spacing: 0;
  margin: 15px 0 30px;
  text-transform: uppercase;
  line-height: 1.1;
}

#restaurant-img {
	width: 90%;
}

#restaurant-address {
  font-size: 1.6rem;
  margin: 10px 0px;
}

#restaurant-cuisine {
  background-color: var(--black);
  color: #ddd;
  font-size: 1.6rem;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
	width: 90%;
}

#restaurant-container, #reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  padding: 140px 40px 30px;
  width: 50%;
}

#reviews-container {
  padding: 30px 40px 80px;
}

#reviews-container h2 {
  color: #f58500;
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}

#reviews-list {
  margin: 0;
  padding: 0;
}

#reviews-list li {
  background-color: #fff;
  border: 2px solid #f3f3f3;
  display: block;
  list-style-type: none;
  margin: 0 0 30px;
  overflow: hidden;
  padding: 0 20px 20px;
  position: relative;
  width: 85%;
}

#reviews-list li p {
  margin: 0 0 10px;
}

#restaurant-hours td {
  color: #666;
}

/* ==================== Media Queries ====================  */

@media screen and (max-width: 400px) {
  .filter-options select {
    min-width: calc(100% - 70px);
  }
}

@media screen and (min-width: 650px) {
  nav h1 a {
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 900px) {
  .filter-options {
    height: 100px;
    flex-direction: row;
  }
  .filter-options select {
    width: 300px;
  }
}

@media screen and (min-width: 1130px) {
  #restaurants-list {
    width: 1100px;
    margin: 0 auto;
  }
}
