@charset "utf-8";
/* CSS Document */
:root {
  --burnt-umber: rgb(149, 83, 1);
  --light-theme-headers: var(--burnt-umber);
  --lights-salmon: rgb(239, 183, 161);
  --dark-theme-headers: var(--lights-salmon);
  --offblack: #252831;
  --infantry-blue: #b1d2e8;
}

html,
body {
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body,
td,
th,
p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  color: #333;
  line-height: 1.5;
}
body {
  background-color: #fdfdfd;
  display: grid;
  grid-template: "header" 80px "main" auto "footer" 40px / 100%;
  align-items: stretch;
}
ul,
li {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  color: #333;
}
a {
  color: rgb(149, 83, 1);
  text-decoration: none;
}
a:hover,
a:focus {
  color: var(--infantry-blue);
  text-decoration: none;
}
a img {
  border: none 0px #fff;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Arial, Helvetica, sans-serif;
}
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
#maincontent {
  grid-area: main;
  background-color: #f3f3f3;
}
#footer {
  grid-area: footer;
  background-color: var(--offblack);
  color: #ccc;
  font-size: 8pt;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
  display: grid;
}

#footer .center {
  place-self: center;
}
#footer .center a {
  color: rgb(239, 183, 161);
}
/* ====================== Navigation ====================== */
header {
  grid-area: header;
  background-color: var(--offblack);
  display: grid;
  grid-template: "nav" auto "breadcrumbs" auto / 100%;
  align-items: stretch;
}

nav {
  grid-area: nav;
  place-self: center;
}
nav h1 a {
  color: #fff;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
}
@media (max-width: 500px) {
  nav h1 a {
    letter-spacing: 5px;
  }
}

nav h1 {
  margin: auto;
}
#breadcrumb {
  grid-area: breadcrumbs;
  list-style: none;
  background-color: var(--offblack);
  font-size: 17px;
  margin: 0;
  padding: 10px;
}

/* Display list items side by side */
#breadcrumb li {
  display: inline;
  color: white;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li + li:before {
  padding: 8px;
  color: white;
  content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
  color: white;
  text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
  color: var(--infantry-blue);
  text-decoration: underline;
}
/* ====================== Map ====================== */
#map-container {
  height: 50vh;
}
#map {
  height: inherit;
  width: 100%;
  background-color: #ccc;
}
/* ====================== Restaurant Filtering ====================== */
.filter-options {
  padding-left: 5px;
  padding-right: 5px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 5px;
  /* width: 100% */
  height: 50px;
  background-color: #0e5b8e;
  align-items: center;
}
.filter-options h2 {
  color: white;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1;
}
.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial, sans-serif;
  font-size: 11pt;
  height: 35px;
  letter-spacing: 0;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  background-color: #f3f3f3;
  list-style: outside none none;
  padding: 0px;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
}
#restaurants-list li {
  background-color: #fff;
  border: 2px solid #ccc;
  font-family: Arial, sans-serif;
  margin: 5px;
  padding: 30px 25px;
  text-align: left;
}
#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  height: auto;
  width: 100%;
}
#restaurants-list li h1 {
  color: rgb(149, 83, 1);
  font-family: Arial, sans-serif;
  font-size: 12pt;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
}
#restaurants-list p {
  margin: 0;
  font-size: 10pt;
}
#restaurants-list li a {
  background-color: var(--burnt-umber);
  border-bottom: 3px solid #eee;
  color: #fff;
  display: inline-block;
  font-size: 10pt;
  margin: 15px 0 0;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

/* ====================== Restaurant Details ====================== */
.inside header {
  background-color: var(--offblack);
  display: grid;
}

.inside #map-container {
  background: blue none repeat scroll 0 0;
  height: 100%;
  height: 50vh;
}
.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
}
#restaurant-name {
  color: var(--burnt-umber);
  font-family: Arial, sans-serif;
  font-size: 20pt;
  font-weight: 200;
  letter-spacing: 0;
  margin: 15px 0 30px;
  text-transform: uppercase;
  line-height: 1.1;
}
#restaurant-img {
  width: 100%;
}
#restaurant-address {
  font-size: 12pt;
  margin: 10px 0px;
}
#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}
#restaurant-container,
#reviews-container {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  max-width: 1200px;
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
}
#reviews-container h2 {
  color: var(--burnt-umber);
  font-size: 24pt;
  font-weight: 300;
  letter-spacing: -1px;
  margin: 0;
  padding-bottom: 1pt;
}
#reviews-list {
  margin-top: 15px;
  margin-bottom: 15px;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
}
#reviews-list li {
  width: auto;
  margin: 0;
  padding: 10px;
  background-color: #fff;
  border: 2px solid #f3f3f3;
  display: block;
  list-style-type: none;
}
#reviews-list li p {
  margin: 0 0 10px;
}
#restaurant-hours td {
  color: #666;
}
