@charset "utf-8";
/* CSS Document */
/*TODO: media queries for mobile, tablet, desktop, move this after, responsive images*/

/*DONE: skipcontent to reviews*/

/* reset webkits*/
* {
	margin: 0;
	padding: 0;
}

body,
td,
th,
p {
	font-family: Arial, Helvetica, sans-serif;
	color: #333;
	line-height: 1.5;
	font-size: 16px;
}

body {
	background-color: #fdfdfd;
	position:relative;
	max-width: 1100px;
	margin-left: auto;
	margin-right: auto;
}

ul,
li {
	font-family: Arial, Helvetica, sans-serif;
	color: #000;
	display: inline-block;
}

a {
	color: orange;
	text-decoration: none;
}

a:hover,
a:focus {
	text-decoration: none;
}

a img{
	border: none 0px #fff;
}

.skip-link {
	font-size: 16px;
	position: absolute;
	top: -45px;
	left: 0;
	background: red;
	color: white;
	padding: 8px;
	z-index: 100;
}

.skip-link:focus {
	top: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
}

article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

#maincontent {
	background-color: #fff;
}

#footer {
	background-color: #333;
	color: #aaa;
	letter-spacing: 1px;
	text-align: center;
	text-transform: uppercase;
}
/* ====================== Navigation ====================== */
nav {
	max-width: 100%;
	background-color: #333;
	text-align: center;
}

nav h2 a {
	color: #fff;
	font-weight: 200;
	letter-spacing: 4px;
	text-transform: uppercase;
}

#breadcrumb {
		padding: 2px 1px 3px 1px;
		list-style: none;
		background-color: #eee;
		margin: 0;
		width: 100%;
}

/* Display list items side by side */
#breadcrumb li {
		display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
		padding: 8px;
		color: black;
		content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
		color: #00539b;
		text-decoration: none;
}
/* Add a color on mouse-over */
#breadcrumb li a:hover {
		color: #01447e;
		text-decoration: underline;
}
/* ====================== Map ====================== */
#map {
	height: 180px;
	background-color: #fff;
}

/* ====================== Restaurant Filtering ====================== */
.filter-options {
	max-width: 100%;
	background-color: #333;
}

.filter-options h3 {
	color: white;
	line-height: 1;
	font-size: 1.0em;
	letter-spacing: 3px;
	padding-top: 5px;
	margin: 0 5px;
}

.filter-options select {
	background-color: white;
	border: 1px solid #fff;
	border-radius: 4px 4px 4px 4px;
	font-family: Arial,sans-serif;
	margin: 5px 5px;
	padding: 0 5px;
	max-width: 200px;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
	background-color: #fff;
	list-style: outside none none;
	padding: 30px 0 60px 0;
	text-align: center;
}

#restaurants-list li {
	background-color: #fff;
	border: 2px solid rgb(230, 224, 230);
	border-radius: 15px 0px 15px 0px;
	font-family: Arial,sans-serif;
	margin: 15px;
	min-height: 380px;
	overflow: hidden;
}

#restaurants-list .restaurant-img {
	background-color: #fff;
	display: block;
	max-width: 100%;
	max-height: 38vh; /*changed to vh*/
}

#restaurants-list li h1 {
	color: #ce6e00;
	font-family: Arial,sans-serif;
	font-size: 1.2em;
	font-weight: 600;
	line-height: 1.3;
	text-transform: uppercase;
}

#restaurants-list p {
	margin: 0;
}

#restaurants-list li button {
	background-color: #333;
	border-bottom: 3px solid #eee;
	color: #fff;
	display: inline-block;
	font-size: 16px;
	margin: 15px 0 0;
	padding: 5px 5px 5px 5px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
}

/* ====================== Restaurant Details ====================== */

.inside header {
	top: 0;
	width: 100%;
	z-index: 1000;
}

.inside #map-container {
	position: relative;
}

.inside td {
	padding: 0.7em;
}

.inside #footer {
	position: absolute;
	width: 100%;
}

#restaurant-name {
	color: #ce6e00;
	font-family: Arial,sans-serif;
	font-weight: 600;
	margin: 5px 0 5px;
	text-transform: uppercase;
	line-height: 1.1;
}

#restaurant-img {
	max-width: 95vw;
	max-height: 30vh;
}

#restaurant-address {
	margin: 10px 0px;
}

#restaurant-cuisine {
	background-color: #333;
	color: #ddd;
	font-weight: 900;
	letter-spacing: 10px;
	margin: 0 0 20px;
	padding: 2px 0;
	text-align: center;
	text-transform: uppercase;
	max-width: 100%;
}

#reviews-container h2 {
	color: #ce6e00;
	font-weight: 600;
	letter-spacing: 2px;
	padding-bottom: 3px;
	text-align: center;
}

#reviews-list li {
	background-color: #fff;
	border: 2px solid #666;
	border-radius: 15px 0px 15px 0px;
	display: block;
	list-style-type: none;
	margin: 0 0 30px 0;
	overflow: hidden;
	position: relative;
}
#restaurant-hours td {
	color: #666;
}

/* review style*/
.name {
	background-color: #333;
	color: #ce6e00;
	font-size: 1.3em;
	font-weight: 600;
	border-radius: 1px 0px 15px 0px;
	padding-left: 7px;
}

.date {
	font-style: italic;
	padding-left: 7px;
}

.rating {
	font-weight: 900;
	background-color: orange;
	border-radius: 0px 15px 15px 0px;
	max-width: 50%;
	padding-left: 7px;
}

.comments {
	padding-left: 7px;
}

@media screen and (max-width: 650px) {
	h1,
	h2 {
		font-size: 1.2em;
	}
	.inside #maincontent {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		grid-auto-rows: minmax(100px, auto);
		margin: 5px;
	}

	.inside #map {
		height: 40vh;
	}

	#restaurant-container {
		text-align: center;
	}
	#restaurant-hours,
	#reviews-container {
		text-align: left;
	}
}
/*
@media screen and (max-width: 455px) {
}*/

@media screen and (min-width: 651px) {
	h1 {
		font-size: 1.2em;
	}

	h2 {
		font-size: 1.5em;
	}

	#map {
		min-height: 40vh;
		margin: 0 auto;
	}

	.inside #maincontent {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-auto-rows: minmax(100px, auto);
		margin: 20px;
	}

	.inside #map-container {
		grid-column: 3/5;
	}

	.inside #restaurant-container {
		grid-column: 1/3;
		grid-row: 1/4;
		}
	#restaurant-img {
		max-width: 70%;
		}

	.inside #reviews-container {
		grid-column: 3/5;
		grid-row: 2/3;
	}
}