nav h1 a {
    letter-spacing: 8px;
}

.skip-link {
    display: none;
}

.restaurant-map-info {
    display: flex;
    flex-direction: row;
}

.restaurant-map-info #map-container {
    order: 0;
    flex: 1;
    height: unset;
    margin-right: 40px;
}

.restaurant-map-info #restaurant-container {
    order: 0;
    flex: 1;
}

#restaurants-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

#restaurants-list li {
    width: calc((100% - 60px) / 2);
}