{
    "presets": [
      ["@babel/env", {
        "modules": false
      }]
    ],
    "env": {
      "production": {
        "presets": ["minify"]
      }
    },
    "plugins": ["syntax-dynamic-import"]
  }