@media (max-width: 599px) {
  /* for phones */
  nav h1 a {
    margin: 1em;
    font-size: 12px;
  }
}

@media (max-width: 767px) {
  /* for tablets portrait and up */

  .inside #map-container {
    max-height: 35%;
    width: 100%;
    height: 40vh;
    position: relative;
  }

  #breadcrumb {
    width: 100%;
  }

  #restaurant-container, #reviews-container {
    padding: 100px 20px 30px;
    width: auto;
  }

  #reviews-container {
    padding: 20px 20px 30px;
  }

  #restaurant-img {
    width: 100%;
  }

  #restaurant-cuisine {
    margin: auto;
  }

  #reviews-list li {
    width: auto;
    margin: 1em 0;
  }
}

@media (min-width: 768px) {
  /* for desktops and up */
  .inside #map-container {
    height: 85%;
  }
}

@media (min-width: 1800px) {
  /* for big desktops and up */
}
