@charset "utf-8";
/* CSS Document */

html {
  box-sizing: border-box;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body,
td,
th,
p {
	font: 16px/1.6 Arial, Helvetica, sans-serif;
  color: #000;
  line-height: 1.5;
}

body {
  background-color: #999;
	margin: 0;
	position: relative;
}

.skip-main {
  position: absolute;
  top: -100px;
  left: 0;
  padding: 8px;
  border-radius: 20px;
  color: #fff;
  border: 3px solid #fff;
  background-color: #004;
  z-index: 1000;
}

.skip-main:focus {
  top: 0;
  text-decoration: underline;
}

:focus {
  outline: 0;
  -webkit-box-shadow: 0 0 6px 5px #fa0;
  -moz-box-shadow: 0 0 6px 5px #fa0;
  box-shadow: 0 0 6px 5px #fa0;
}

a {
	color: #fa0;
	text-decoration: none;
}

a:hover, 
a:focus {
  color: #fff;
	text-decoration: none;
}

a img {
	border: none 0px #fff;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}

article, 
aside, 
canvas, 
details, 
figcaption, 
figure, 
footer, 
header, 
hgroup, 
menu, 
nav, 
section {
  display: block;
}

main {
  background-color: #eee;
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
}

footer {
  background-color: #004;
  color: #ccc;
  letter-spacing: 1px;
  padding: 1.5em;
  text-align: center;
  text-transform: uppercase;
}

/* ====================== Navigation ====================== */
nav {
  width: 100%;
  background-color: #004;
  text-align: center;
}

nav h1 {
  margin: 1em 0;
  display: inline-block;
}

nav h1 a {
  color: #fa0;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 10px;
  text-transform: uppercase;
}

#breadcrumb {
  padding: 1em;
  list-style: none;
  background-color: #eee;
  margin: 0;
  font-weight: 600;
  text-align: left;
}

/* Display list items side by side */
#breadcrumb li {
  display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
  padding: 8px;
  color: #000;
  content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
  color: #600;
  border-bottom: 2px dotted #600;
  text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover,
#breadcrumb li a:focus  {
  color: #004;
  cursor: pointer;
  text-decoration: underline;
  border: none;
}

/* ====================== Map ====================== */
#map-container {
  height: 400px;
  padding: 0 32px; 
  width: 100%;
  background-color: #003;
}

.inside #map-container {
  padding: 0;
  margin: 0 32px;
}

#map {
  height: 100%;
  border: 2px solid #fa0;
  width: 100%;
}

/* ============================ Map Attribution============ */
.leaflet-container .leaflet-control-attribution {
  background: #fff!important;
  display: none;
}

/* ====================== Restaurant Filtering ====================== */
.filter-container {
  width: 100%;
}

.filter-options {
  width: 100%;
  background-color: #004;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.filter-options h2 {
  color: #fff;
  font-size: 1.5rem;
  font-weight: normal;
  line-height: 1.5;
  margin: 10px 10px 0;
}

.filter-options select {
  background-color: #fff;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 1.2em;
  height: 2em;
  /*letter-spacing: 0;*/
  margin: 10px;
  padding: 0 10px;
  width: 100%;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  list-style: outside none none;
  padding: 0 1em;
  display: flex;
  flex-wrap: wrap;
}

#restaurants-list li {
  background-color: #fff;
  border: 2px solid #004;
  border-radius: 4em;
  margin: 1em;
  padding: 1em;
}

.img-container {
  background-color: #999;
  overflow: hidden;
  border-radius: 3em 3em 0 0;
  position: relative;
}

.restaurant-img {
  width: 100%;
  display: block;
  max-width: 100%;
}

#restaurants-list li h3 {
  color: #004;
  font-size: 1.3em;
  font-weight: 200;
  margin: 20px 0 10px;
  text-transform: uppercase;
}

.restaurant-info {
  background-color: #ddd;
  padding: 0 0.5em;
}

.restaurants-list p {
  margin: 5px 0;
  font-size: 1.2em;
  line-height: 1.2;
}

.view-button {
  background-color: #004;
  width: 100%;
  height: 48px;
  border: 2px solid #aaa;
  border-radius: 0 0 3em 3em;
  color: #fa0;
  display: block;
  font-size: 1em;
  font-weight: bold;
  /*padding: 1em;
  text-align: center;
  margin: 15px 0 0;
  text-decoration: none;*/
  text-transform: uppercase;
}

.view-button:hover,
.view-button:focus {
  cursor: pointer;
  background-color: #000;
  color: #fff;
}

/* ====================== Favorite Toggle ====================== */

.fav-button {
  width: 50px;
  height: 48px;
  bottom: 5px;
  left: 5px;
  font-size: 2em;
  color: #fff;
  background-color: #000;
  /*border: 2px solid #ccc;
  background-image: url('../images/icons/favs.png');*/
  position: absolute;
}

.fav-button.active {
  /*background-color: #fd0;*/
  color: #fd0;
}

.fav-button:hover {
  /*background-color: #f30;*/
  color: #f00;
  cursor: pointer;
}

/* ====================== Restaurant Details ====================== */
.name,
.description, 
.reviews-header,
.rev-head {
  width: 100%;
}

.name {
  padding: 0 1em;
  color: #004;
  text-align: center;
}

#restaurant-name,
.reviews-header h2 {
  font-family: Arial,sans-serif;
  text-transform: uppercase;
}

#restaurant-cuisine {
  background-color: #002;
  color: #fa0;
  letter-spacing: 10px;
  margin: 0;
  padding: 2px;
  text-align: center;
  text-transform: uppercase;
}

/*#restaurant-address {
  font-weight: bold;
}*/

#restaurant-hours {
  width: 100%;
}

#restaurant-hours tr:nth-child(odd) {
  background-color: #ccc;
}

/*#restaurant-hours td:first-of-type {
  font-weight: bold;
}*/

#restaurant-hours td {
  width: 50%;
  padding: 0.5em;
}

#restaurant-container, 
#reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  padding: 1.5em;
  margin: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap; 
}

/* ====================== Reviews Listing ====================== */
#reviews-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

#reviews-list li {
  background-color: #fff;
  list-style-type: none;
  margin: 1em 0;
  border-radius: 3em;
  overflow: hidden;
  padding-bottom: 1em;
}

.reviews-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1em;
  color: #004;
}

.reviews-header h2 {
  margin: 0;
}

.add-rev-button {
  padding: 8px;
  font-size: 2em;
  cursor: pointer;
}

.reviews-head {
  background-color: #002;
  padding: 1em 1.5em;
  border-radius: 3em 3em 0 0;
}

.author {
  display: inline-block;
  color: #fa0;
  letter-spacing: 2px;
  font-size: 1.5em;
}

.date {
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  font-size: 1.2em;
  letter-spacing: 1px;
}

.date-created {
  color: #bbb;
  margin-right: 1em;
}

.date-updated {
  color: #0b0;
}

.rating {
  background-color: #fa0;
}

.comment {
  width: 100%;
}

.rating,
.comment {
  display: inline-block;
  font-size: 1.2em;
  padding: 0.5em 1.5em;
}

/* ====================== Modal ====================== */
.modal {
  display: none;
  flex-direction: column;
  padding: 1em;
  color: #fa0;
  top: 50%;
  left: 50%;
  max-width: 390px;
  width: 90%; 
  position: fixed;
  /*background-color: #223;
  max-width: 400px;*/
  background-color: #112;
  z-index: 1002;
  border: 3px solid #001;
  overflow: hidden;
  border-radius: 2em;
  transform: translate(-50%, -50%);
  transition: all .2s;
}

.modal-overlay {
  width: 100%;
  height: 100%;
  z-index: 1000; 
  background-color: #000;
  opacity: 0.9;
  transition: all .1s;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
}
/*
.modal.show {
  display: flex;
}

.modal-overlay.show {
  display: block;
}*/

/* ====================== Review Form ====================== */
.rev-form h2 {
  margin: 0;
}

.field {
  /*margin: 5px 0;*/
  font-size: 1.3em;
}

input[type=text], select, textarea {
  border-radius: 10px;
  max-width: 100%;
  border: 1px solid #223;
  font-size: 1.4em;
  padding: 12px;
  margin: 6px 0;
}

.review-comments::first-letter {
  font-weight: 600;
  text-transform: uppercase;
}

/* ====================== Review Buttons ====================== */
.rev-button {
  border: 2px solid #004;
  min-height: 48px;
  min-width: 48px;
  border-radius: 1em;
  cursor: pointer;
  font-size: 1.5em;
  background-color: #fa0;
}

.hide-button {
  align-self: flex-end;
}

.submit-button {
  padding: 0 0.5em;
}

.rev-button:hover {
  background-color: #aaa;
}

.message-box {
  display: none;
  position: fixed;
  top: 0;
  width: 80vw;
  margin: calc((100% - 80vw)/2);
  padding: 0 1em;
  border-radius: 10px;
  background-color: #fa0;
  z-index: 1003;
}

/* ====================== Set page breakpoints ====================== */
@media screen and (max-width: 467px) {
  nav h1 a {
    font-size: 16px;
    letter-spacing: 0.1em;
  }

  #restaurants-list {
    justify-content: center;
  }

  footer {
    font-size: 0.8em;
  }
}

@media screen and (min-width: 468px) and (max-width: 599px) { 
  #breadcrumb {
  padding: 0.2em 1em;
  font-size: 1.5em;
  }

  #reviews-container,
  #restaurant-container,
  #restaurants-list {
    max-width: 448px;
    margin-left: calc((100% - 448px)/2);
  }

  #restaurant-hours td,
  #restaurant-address {
    font-size: 1.2em;
  }
}

@media screen and (min-width: 600px) {
  nav h1 a {
    font-size: 1.5em;
    letter-spacing: 0.1em;
  }
  
  .filter-options {
    justify-content: center;
  }

  #restaurant-container {
    justify-content: space-around;
    padding: 1em 0;
  }

  .filter-options h2 {
    margin: 1em;
  }
    
  .filter-options select {
    font-size: 1rem;
    width: 30%;
  }

  #breadcrumb {
    font-size: 1.6em;
    padding: 0.5em 1.5em;
  }

  .description {
    width: 40%;
  }

  #restaurant-hours {
    width: 52%;
  }

  #reviews-list li {
    margin: 1em;
  }
  
  #restaurants-list li,
  #reviews-list li {
    width: calc((100% - 4em)/2);
  }
}

@media screen and (min-width: 700px) {
  #restaurant-address,
  #restaurant-cuisine {
    font-size: 1.2em;
  }

  #restaurant-hours td {
    font-size: 1.1em;
  }

  .description {
    width: 40%;
  }
  
  #restaurant-hours {
    width: 54%;
  }
}

@media screen and (min-width: 950px){
  nav h1 a {
    letter-spacing: 0.2em;
  }

  .filter-options h2,
  .filter-options select {
    font-size: 1.6em;
  }
  
  #restaurant-container {
    padding: 1em;
  }

  .description {
    width: 35.5%;
  }

  #restaurant-hours {
    width: 61%;
  }

  #restaurants-list li,
  #reviews-list li {
    width: calc((100% - 6em) / 3);
  }

  #restaurant-name,  
  .reviews-header h2 {
    font-size: 2em;
  }

  #restaurant-cuisine,
  #restaurant-hours td,
  #restaurant-address {
    font-size: 1.3em;
  }
}

@media screen and (min-width: 1148px) {
  main, header, nav, #maincontent, footer {
    width: 1148px;
    margin-left: auto;
    margin-right: auto;
  }
}