@charset "utf-8";

/* CSS Document */

body,
td,
th,
p {
	font: 1.5/100% Arial, Helvetica, sans-serif;
	color: #333;
}

body {
	background-color: #fdfdfd;
  margin: 0 auto;
  max-width: 1200px;
	position:relative;
}

ul, 
li {
	font: 10pt Arial, Helvetica, sans-serif;
	color: #333;
}

a {
	color: orange;
	text-decoration: none;
}

a:hover, 
a:focus {
	color: #a8d3f0;
	text-decoration: none;
}

a img{
	border: none 0 #fff;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}

article, 
aside, 
canvas, 
details, 
figcaption, 
figure, 
footer, 
header, 
hgroup, 
menu, 
nav, 
section {
	display: block;
}

#main-content {
  background-color: #f3f3f3;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

#footer {
  background-color: #444;
  color: #ededed;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}


/* ====================== Navigation ====================== */
nav {
  width: 100%;
  background-color: #252831;
}

nav h1 {
  margin: auto;
  padding: 20px;
  text-align:center;
}

nav h1 a {
  color: #fff;
  font-size: 1em;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
}

#breadcrumb {
  padding-left: 0;
  list-style: none;
  background-color: #eee;
  font-size: 17px;
  margin: 0;
  width: 100%;
}

/* Display list items side by side */
#breadcrumb li {
  display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
  color: #024988;
  text-decoration: underline;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #6E4412;
    text-decoration: underline;
}


/* ====================== Map ====================== */
#map {
  height: 400px;
  width: 100%;
  background-color: #ccc;
}


/* ====================== Restaurant Filtering ====================== */
.filter-options {
  width: 100%;
  background-color: #252831;
  align-items: center;
  padding: 20px 0;
}

.filter-options h2 {
  color: white;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1;
  margin: 0 20px;
}

.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font: 80% Arial, sans-serif;
  height: 35px;
  letter-spacing: 0;
  margin: 10px;
  width: 200px;
}

.filter-selects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
  padding: 30px 15px 60px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

#restaurants-list li {
  background-color: #fff;
  border: 2px solid #ccc;
  font-family: Arial,sans-serif;
  margin: 15px;
  min-height: 380px;
  padding: 0 0 20px 0;
  text-align: left;
  width: 300px;
}

@media only screen and (min-width: 0px) {
  #restaurants-list li {
    max-width: 100%;
  }
}

@media only screen and (min-width: 720px) {
  #restaurants-list li {
    max-width: 50%;
  }
}

@media only screen and (min-width: 1100px) {
  #restaurants-list li {
    max-width: 320px;
  }
}

#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  max-width: 100%;
  min-width: 100%;
  overflow: hidden;
}

#restaurants-list li h2 {
  color: #6E4412;
  font: 400 1.4em/1.3 Arial,sans-serif;
  letter-spacing: 0;
  margin: 20px 0 10px;
  text-transform: uppercase;
  text-align: center;
}

.restaurant-address {
  font-size: 1em;
  margin: 5px 0;
}

.restaurant-neighborhood {
  font-size: 1.2em;
  margin: 0;
}

#restaurants-list li button, #write-review button {
  background-color: #6E4412;
  border: none;
  color: #fff;
  display: inline-block;
  font-size: 1em;
  margin: 15px 0 0;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

#restaurants-list li button a {
  color: #fff;
}

#restaurants-list li button a:hover {
  color: #333;
}

.restaurant-text {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 150px;
}


/* ====================== Restaurant Details ====================== */
.inside #map-container {
  background: blue none repeat scroll 0 0;
  height: 300px;
}

.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
}

#restaurant-name {
  color: #6E4412;
  font: 200 1.5em/1.1 Arial,sans-serif;
  letter-spacing: 0;
  margin: 15px 0;
  text-transform: uppercase;
  padding: 0 0 0 16px;
}

#restaurant-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#restaurant-img-container {
  width: 100%;
  height: 100%;
}

@media only screen and (min-width: 0px) {
  #restaurant-img-container {
    height: 80%;
  }
}

@media only screen and (min-width: 720px) {
  #restaurant-img-container {
    height: 450px;
  }
}

@media only screen and (min-width: 1100px) {
  #restaurant-img-container {
    height: 320px;
  }
}

#restaurant-map-and-hours {
  margin: 10px 0;
}

#restaurant-address {
  font-size: 1em;
  font-weight: 800;
  text-align: center;
}

#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
	width: 100%;
}

#restaurant-container, 
#reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
}

#restaurant-container {
  padding: 0;
}

#reviews-container {
  padding: 30px 40px;
}

#reviews-container h3 {
  color: #6E4412;
  font-size: 2em;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}

#reviews-list {
  margin: 0;
  padding: 0;
}

#reviews-list li {
  background-color: #fff;
  border: 2px solid #f3f3f3;
  display: block;
  list-style-type: none;
  margin: 0 0 30px;
  overflow: hidden;
  padding: 20px 20px 20px;
  position: relative;
  width: 85%;
}

#reviews-list li p {
  margin: 0 0 10px;
}

.restaurant-hours-container {
  display: flex;
  justify-content: center;
  text-align: center;
}

#restaurant-hours {
  width: 100%;
  max-width: 450px;
  margin: 0 0 20px 0;
}

#restaurant-hours td {
  color: #383838;
  font-size: 1em;
}

#restaurant-hours td:first-of-type {
  width: 40%;
}

.review-name {
  font-weight: 900;
  font-size: 1.5em;
}

.review-rating {
  color: #6E4412;
  font-weight: 700;
}

#review-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
}

#review-header a {
  color: #383838;
  font-weight: bold;
  text-decoration: underline;
  font-size: 1em;
}

/* ====================== Labels ====================== */
.restaurant-info-label, .filter-label, .restaurant-map-label {
  display: none;
}

/* ====================== Favorites ====================== */
.favorite {
  text-align: center;
  padding: 10px 0 0 0;
}

.favorite button {
  background-color: #fff !important;
  color: #000 !important;
  padding: 0 !important;
  margin: 0 !important;
}

.favorite i { 
  font-size: 24px !important;
}

.is-favorited {
  color: #3000FD;
}

.is-not-favorited {
  color: #716B73;
}

/* ====================== Reviews ====================== */
#your-review-name, #your-rating, #your-review-comments {
  font-size: 1em;
}

#write-review {
  font-size: 1.1em;
  margin: 0 auto;
  width: calc(100% - 50px);
  padding: 50px 0;
}

#write-review input, #write-review textarea {
  width: 100%;
}