<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
    <% for (key in htmlWebpackPlugin.files.css) { %>
    <link href="<%= htmlWebpackPlugin.files.css[key] %>" rel="stylesheet">
    <% } %>
</head>

<body class="inside">

<!-- Beginning header -->
<header>
    <!-- Beginning nav -->
    <nav>
        <h1><a href="/">Restaurant Reviews</a></h1>
    </nav>
    <!-- Beginning breadcrumb -->
    <ul id="breadcrumb">
        <li><a href="/">Home</a></li>
    </ul>
    <!-- End breadcrumb -->
    <!-- End nav -->
</header>
<!-- End header -->

<!-- Beginning main -->
<main id="maincontent">
    <!-- Beginning map -->
    <section id="map-container">
        <div id="map"></div>
    </section>
    <!-- End map -->
    <!-- Beginning restaurant -->
    <section id="restaurant-container">
        <h1 id="restaurant-name"></h1>
        <img id="restaurant-img">
        <p id="restaurant-cuisine"></p>
        <p id="restaurant-address"></p>
        <table id="restaurant-hours"></table>
    </section>
    <!-- end restaurant -->
    <!-- Beginning reviews -->
    <section id="reviews-container">
        <ul id="reviews-list"></ul>
    </section>
    <!-- End reviews -->
</main>
<!-- End main -->

<!-- Beginning footer -->
<footer id="footer">
    Copyright (c) 2017 <a href="/"><strong>Restaurant Reviews</strong></a> All Rights Reserved.
</footer>
<!-- End footer -->
<% for (key in htmlWebpackPlugin.files.js) { %>
<script src="<%= htmlWebpackPlugin.files.js[key] %>"></script>
<% } %>
</body>
</html>
