<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <% for (key in htmlWebpackPlugin.files.css) { %>
    <link href="<%= htmlWebpackPlugin.files.css[key] %>" rel="stylesheet">
    <% } %>
</head>

<body class="inside">

<!-- Beginning header -->
<header>
    <!-- Beginning nav -->
    <nav>
        <h1><a href="/">Restaurant Reviews</a></h1>
    </nav>
    <!-- Beginning breadcrumb -->
    <ul id="breadcrumb" class="breadcrumb">
        <li><a href="/">Home</a></li>
    </ul>
    <!-- End breadcrumb -->
    <!-- End nav -->
</header>
<!-- End header -->

<!-- Beginning main -->
<main id="maincontent" class="main-content flex-column">
    <!-- Beginning map -->
    <section id="map-container" class="map-container" aria-label="Google Map">
        <div id="map" class="map-details"></div>
    </section>
    <!-- End map -->
    <div class="restaurant-review-container">
        <!-- Beginning restaurant -->
        <section id="restaurant-container" class="restaurant-detail">
            <h1 id="restaurant-name" class="restaurant-name"></h1>
            <img id="restaurant-img" class="restaurant-img">
            <p id="restaurant-cuisine" class="restaurant-cuisine"></p>
            <p id="restaurant-address" class="restaurant-address"></p>
            <table id="restaurant-hours" class="restaurant-hours"></table>
        </section>
        <!-- end restaurant -->
        <!-- Beginning reviews -->
        <section id="reviews-container" class="reviews-container">
            <ul id="reviews-list" class="reviews-list"></ul>
        </section>
        <!-- End reviews -->
    </div>
</main>
<!-- End main -->

<!-- Beginning footer -->
<footer id="footer" class="footer footer-details">
    Copyright (c) 2017 <a href="/"><strong>Restaurant Reviews</strong></a> All Rights Reserved.
</footer>
<!-- End footer -->
<% for (key in htmlWebpackPlugin.files.js) { %>
<script src="<%= htmlWebpackPlugin.files.js[key] %>"></script>
<% } %>
</body>
</html>
