<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
	<meta name="Description" content="Restaurant review test application homepage">
	<title><%= htmlWebpackPlugin.options.title %></title>
</head>

<body class="home">
	<header>
	  <nav class="main-nav">
		<h1 tabindex="-1"><a href="/"><%= htmlWebpackPlugin.options.myPageHeader %></a></h1>
	  </nav>
	</header>

	<main id="maincontent">
	  <section id="map-container">
		<div id="map" aria-label="location" role="application"></div>
	  </section>
	  <section>
		<div class="filter-options">
		  <div class="container">
			<h2 tabindex="-1">Filter Results</h2>
			<select id="neighborhoods-select"  aria-label="Neighborhoods" name="neighborhoods" onchange="updateRestaurants()">
			  <option value="all">All Neighborhoods</option>
			</select>
			<select id="cuisines-select"  aria-label="Cuisines" name="cuisines" onchange="updateRestaurants()">
			  <option value="all">All Cuisines</option>
			</select>
		  </div>
		</div>
		<ul id="restaurants-list" class="container flex-grid"></ul>
	  </section>
	</main>

	<footer id="footer">
	  Copyright (c) 2017 <a href="/"><strong>Restaurant Reviews</strong></a> All Rights Reserved.
	</footer>

	</body>

  <script src="./index.bundle.js"></script>
</html>