#restaurants-container {
  .no-result { // is active if there's no restaurant
    padding: 10px 0 10px 20px;
    font-weight: 600;
    color: red;
  }
}

#restaurants-list {
  background-color: $restaurants-list-bg-color;
  list-style: outside none none;
  margin: 0;
  padding: 30px 15px 60px;
  text-align: center;
  li {
    background-color: $restaurants-list-list-bg-color;
    border: $restaurants-list-list-border;
    font-family: $font-stack;
    margin: 15px;
    min-height: 380px;
    padding: 0 30px 25px;
    text-align: left;
    width: 270px;
    h1 {
      color: $restaurants-list-header-font-color;
      font-family: $font-stack;
      font-size: $restaurants-list-header-font-size;
      font-weight: $restaurants-list-header-font-weight;
      letter-spacing: 0;
      line-height: 1.3;
      margin: 20px 0 10px;
      text-transform: uppercase;
    }
    a {
      background-color: $restaurants-list-link-bg-color;
      border-bottom: $restaurants-list-link-border;
      color: $restaurants-list-link-color;
      display: inline-block;
      font-size: $restaurants-list-link-font-size;
      margin: 15px 0 0;
      padding: 8px 30px 10px;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
    }
  }
  .restaurant-img {
    background-color: $restaurants-list-img-bg-color;
    display: block;
    margin: 0;
    max-width: 100%;
    min-height: 248px;
    min-width: 100%;
  }
  p {
    margin: 0;
    font-size: $restaurants-list-font-size;
  }
}
