$font-stack:    Roboto, sans-serif;

$base-font-color: #333;
$base-font-size: 10pt;
$base-list-font-size: 10pt;
$base-list-font-color: 10pt;
$base-link-color: orange;
$base-hover-color: #3397db;
$base-focus-color: #3397db;
$base-img-border: none 0 white;

$body-bg-color: #fdfdfd;

$maincontent-bg-color: #f3f3f3;

$footer-bg-color: #444;
$footer-font-color: #aaa;
$footer-font-size: 8pt;

$nav-bg-color: #252831;
$nav-header-color: #fff;
$nav-header-font-size: 14pt;
$nav-header-font-weight: 200;
$nav-breadcrumb-bg-color: #eee;
$nav-breadcrumb-font-size: 17px;
$nav-link-color: #0275d8;
$nav-hover-color: #01447e;
$nav-list-item-color: black;
$nav-list-item-symbol: "/\00a0";

$map-bg-color: #ccc;

$filter-bg-color: #3397DB;
$filter-header-color: white;
$filter-header-font-size: 1rem;
$filter-header-font-weight: normal;
$filter-select-bg-color: white;
$filter-select-border: 1px solid white;
$filter-select-font-size: 11pt;

$restaurants-list-bg-color: #f3f3f3;
$restaurants-list-list-bg-color: #fff;
$restaurants-list-list-border: 2px solid #ccc;
$restaurants-list-header-font-color: #f18200;
$restaurants-list-header-font-size: 14pt;
$restaurants-list-header-font-weight: 200;
$restaurants-list-link-bg-color: orange;
$restaurants-list-link-color: #fff;
$restaurants-list-link-font-size: 10pt;
$restaurants-list-link-border: 3px solid #eee;
$restaurants-list-img-bg-color: #ccc;
$restaurants-list-font-size: 11pt;

$map-container-bg: blue none repeat scroll 0 0;
$restaurant-details-map-bg-color: #ccc;
$restaurant-name-font-color: #f18200;
$restaurant-name-font-size: 20pt;
$restaurant-name-font-weight: 200;
$restaurant-address-font-size: 12pt;
$restaurant-cuisine-bg-color: #333;
$restaurant-cuisine-font-color: #ddd;
$restaurant-cuisine-font-size: 12pt;
$restaurant-cuisine-font-weight: 300;

$restaurant-container-border-top:1px solid #fff;
$restaurant-container-border-bottom: 1px solid #d9d9d9;

$reviews-container-header-font-color: #f58500;
$reviews-container-header-font-size: 24pt;
$reviews-container-header-font-weight: 300;
