@charset "utf-8";

html {
  font-size: 16px;
}

body {
  font-family: Roboto, Helvetica, sans-serif;
  background-color: #fdfdfd;
  margin: 0;
  position: relative;
  color: #333;
  line-height: 1.5;
}

a {
  color: orange;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #3397db;
  text-decoration: none;
}

a img{
  border: none 0 #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 20px;
}

article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

.main-content {
  background-color: #f3f3f3;
  min-height: 100%;
  margin-top: 85px;
  display: flex;
  flex-wrap: wrap;
}

/* ====================== Navigation ====================== */

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

nav {
  width: 100%;
  height: 95px;
  background-color: #252831;
  text-align:center;
  display: table;
}

nav h1 {
  margin: auto;
  display: table-cell;
  vertical-align: middle;
}

nav h1 a {
  color: #fff;
  font-size: 1rem;
  font-weight: 200;
  letter-spacing: 12px;
  text-transform: uppercase;
}

.breadcrumb {
  height: 70px;
  list-style: none;
  font-size: 1.1rem;
  background-color: #eee;
  color: #5a5a5a;
  margin: 0;
  width: 100%;
  padding-left: 30px;
}

.breadcrumb li {
  display: inline;
  line-height: 80px;
}

.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

.breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}

.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}

/* ====================== Map ====================== */
#map {
  height: 400px;
  width: 100%;
  background-color: #ccc;
}

/* ====================== Restaurant Filtering ====================== */
.search-container {
  width: 100%;
}

.filter-options {
  height: 125px;
  background-color: #3397db;
  align-items: center;
  padding: 20px 30px;
}

.filter-options h2 {
  color: white;
  font-weight: normal;
  line-height: 1;
}

.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Roboto,sans-serif;
  font-size: .9rem;
  height: 35px;
  letter-spacing: 0;
  padding: 0 10px;
  margin: 0 0 10px;
  width: 100%;
}

/* ====================== Restaurant Listing ====================== */
.restaurants-list {
  display: flex;
  flex-wrap: wrap;
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
  padding: 30px 20px 80px;
  text-align: center;
}

.restaurants-list li {
  width: 100%;
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 30px 0;
  font-family: Roboto,sans-serif;
  min-height: 380px;
  text-align: left;
}

.restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  max-width: 100%;
  min-height: 248px;
  min-width: 100%;
  border-radius: 30px 0 0;
}

.restaurants-list .restaurant-info {
  padding: 0 20px 20px;
}

.restaurants-list li h2 {
  color: #f18200;
  font-family: Roboto,sans-serif;
  font-size: 1.3rem;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
}

.restaurants-list p {
  margin: 0;
}

.restaurants-list li a.more-button {
  background-color: orange;
  border-bottom: 3px solid #eee;
  color: #fff;
  display: inline-block;
  margin: 15px 0 0;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.restaurants-list .more-button:hover,
.restaurants-list .more-button:focus {
  background-color: #d88c00;
  color: #fff;
}

/* ====================== Restaurant Details ====================== */

.main-content.restaurant-detail {
  margin-top: 165px;
}

.map-container {
  background: blue none repeat scroll 0 0;
  height: 500px;
  width: 100%;
}

#map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
}

#restaurant-name {
  color: #f18200;
  font-family: Roboto, sans-serif;
  font-size: 1.5rem;
  font-weight: 200;
  letter-spacing: 0;
  margin: 15px 0 30px;
  text-transform: uppercase;
  line-height: 1.1;
  width: 100%;
}

#restaurant-container .restaurant-img {
  max-width: 100%;
  border-radius: 30px 0;
}

#restaurant-address {
  font-size: 1.1rem;
  margin: 10px 0;
}

#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 1.1rem;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
}

#restaurant-container,
#reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  padding: 30px 20px;
  width: 100%;
}

#restaurant-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#reviews-container h2 {
  color: #f58500;
  font-size: 1.5rem;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}

.restaurant-wrapper {
  width: 100%;
}

#reviews-list {
  margin: 0;
  padding: 0 0 60px;
}

#reviews-list li {
  background-color: #fff;
  margin-bottom: 20px;
  border-radius: 30px 0;
  display: block;
  box-sizing: border-box;
  list-style-type: none;
  overflow: hidden;
  position: relative;
  width: 100%;
}

#reviews-list li .review-header {
  background-color: #333;
  color: white;
  padding: 25px;
}

.review-header .review-name,
.review-header .review-date {
  display: inline;
  font-weight: 200;
  letter-spacing: 1px;
}

.review-header .review-name {
  font-size: 1.2rem;
}

.review-header .review-date {
  float: right;
  color: #d4d4d4;
}

#reviews-list li .review-info {
  padding: 25px;
}

.review-rating {
  background-color: #ffae0c;
  padding: 5px 10px;
  color: white;
  text-transform: uppercase;
  border-radius: 4px;
}

#reviews-list li p {
  margin: 20px 0 0;
}

#restaurant-hours td {
  color: #666;
  font-weight: 300;
}

.footer {
  background-color: #444;
  color: #aaa;
  font-size: .9rem;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
  box-sizing: border-box;
  bottom: 0;
  position: absolute;
  width: 100%;
}

@media screen and (min-width: 800px) {

  .restaurants-list {
    justify-content: space-between;
  }

  .restaurants-list li {
    width: calc(50% - 15px);
  }

  .filter-options select {
    width: calc(50% - 2px);
  }

  .restaurant-wrapper {
    width: calc(50% - 15px);
  }

}

@media screen and (min-width: 1190px) {

  .restaurants-list li {
    width: calc(33% - 15px);
  }

  .filter-options select {
    width: 33%;
  }

}
